.bl_second {
  height: 100vh;
  display: flex;
  align-items: center;
}
.m_top {
  margin-bottom: 50px !important;
}
.bottom_social {
  justify-content: center;
  margin: 0 auto;
}
.more {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  &:hover {
    transform: scale(1.05);
    transition: 0.5s;
  }
}
.back_arr {
  transition: 0.5s;
  &:hover {
    transform: scale(1.05);
    transition: 0.5s;
  }
}
