<div class="bl_second">
  <div id="about_guru" class="wrapper">
    <p class="back_arr" [routerLink]="['/']">
      <img src="assets/Images/undo.svg" alt="back">
      <span>на главную</span>
    </p>
    <div class="m_wrapper">
      <p class="m_top">Контактная информация:</p>
      <div class="bottom_social">
        <p (click)="goToURl('https://mail.google.com')" class="more"><img class="soc_l" src="assets/Images/gmail.png"
            alt="instagram">Shrinandini108@gmail.com
        </p>
        <p (click)="goToURl('https://t.me/Shrinandini108')" class="more"><img class="soc_l"
            src="assets/Images/telega.png" alt="telegram">t.me/Shrinandini108
        </p>
      </div>
    </div>
  </div>
</div>
