.bl_second {
  height: 100vh;
  display: flex;
  align-items: center;
}
.m_top {
  margin-bottom: 50px !important;
}
.bottom_social {
  justify-content: center;
}
.more {
  display: flex;
  justify-content: center;
}
