<!-- Meta Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '467468471396339');
  fbq('track', 'Lead');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=467468471396339&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
<div class="bl_second">
  <div id="about_guru" class="wrapper">
    <div class="m_wrapper">
      <p class="m_top">Намасте! Благодарим за регистрацию. Ближайшее время с вами свяжется монах, который ответит на все ваши вопросы</p>
      <div class="bottom_social">
        <p class="more">Больше информации на страницах:</p>
        <p (click)="goToURl('https://instagram.com/swami_vishnudevananda_giri')"  class="more"><img class="soc_l" src="assets/Images/insta.png" alt="instagram"> swami_vishnudevananda_giri
        </p>
        <p (click)="goToURl('https://t.me/swami_vishnudevananda_giri')"  class="more"><img class="soc_l" src="assets/Images/telega.png" alt="telegram"> swami_vishnudevananda_giri
        </p>
      </div>
    </div>
  </div>
</div>
