<div class="bl_second">
  <div id="about_guru" class="wrapper">
    <div class="m_wrapper">
      <p class="m_top">Намастe, благодарим за регистрацию!</p>
      <div class="bottom_social">
        <p class="more">Больше информации на страницах:</p>
        <p (click)="goToURl('https://instagram.com/swami_vishnudevananda_giri')"  class="more"><img class="soc_l" src="assets/Images/insta.png" alt="instagram"> swami_vishnudevananda_giri
        </p>
        <p (click)="goToURl('https://t.me/swami_vishnudevananda_giri')"  class="more"><img class="soc_l" src="assets/Images/telega.png" alt="telegram"> swami_vishnudevananda_giri
        </p>
      </div>
    </div>
  </div>
</div>
