<div class="main-wrapper">
  <div class="wrapper main">
    <div class="header">
      <div class="head_wrap">
        <div class="head_in">
          <div class="dat_wrap">
            <p class="d_ft">30.08 - 18.09</p>
            <p class="d_ft s">2022</p>
          </div>
          <div class="header_wrapper">
            <div class="menu_wrap">
              <div class="w_wrap">
                <p class="text_gen" (click)="scrollTo('about_guru')">О Гуру</p>
                <p class="text_gen" (click)="scrollTo('about_program')">Программа</p>
                <!-- <p class="text_gen" (click)="scrollTo('div-qa')">Вопросы и ответы</p> -->
                <p class="text_gen" [routerLink]="['/contacts']">Контакты</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="head_content">
      <div>
        <p class="main_title_text">Паломничество в Индию</p>
        <p class="text_secondary">
          с просветлённым мастером традиции<br>
          сиддхов<span> и монахами по святым местам<br>
            севера и юга Индии</span>
        </p>
      </div>
      <p class="event_dates no_mob">30.08 - 18.09 2022</p>
      <div class="list_items">
        <div class="list-item">
          <p class="img-w">
            <img src="assets/Images/figure.png" alt="om">
          </p>
          <p class="list_text">3 <span class="first">этапа</span><span class="second"> духовного путешествия</span></p>
        </div>
        <div class="list-item">
          <p class="img-w">
            <img src="assets/Images/figure.png" alt="om">
          </p>
          <p class="list_text"><span class="first">Посвящение</span><span class="second"> в традицию<br>
              и </span><span class="first">получение инициации</span></p>
        </div>
        <div class="list-item">
          <p class="img-w">
            <img src="assets/Images/figure.png" alt="om">
          </p>
          <p class="list_text"><span class="first">Медитации </span><span class="second">и</span><span class="first">
              практики </span><br><span class="second">каждый день</span></p>
        </div>
      </div>
      <div class="bottom_section">
        <div class="buttons_wrap">
          <button (click)="scrollTo('apply')" class="btn_gen s">Оставить заявку</button>
          <button (click)="scrollTo('about_program')" class="btn_gen">Программа</button>
        </div>
        <p class="lamp">
          <img src="assets/Images/lamp.png" alt="lamp">
        </p>
        <p class="g_title">Гуру Cвами<br>
          Вишнудевананда Гири</p>
      </div>
    </div>
  </div>
  <div class="bl_second">
    <div id="about_guru" class="wrapper">
      <div class="m_wrapper">
        <div class="s_wrap">
          <div class="block_master left">
            <!-- <div class="m_title">
              <p class="m_top f"><span></span> Знакомство</p>
              <p class="m_top"> с мастером <span class="f"></span></p>
            </div> -->
            <div class="video_master">
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/cOQHsiHk7MU" frameborder="0"
                allowfullscreen class="item-iframe"></iframe>
            </div>
            <div class="about_master">
              <p class="divider">
                <img src="assets/Images/figure_.png" alt="divider">
              </p>
              <p class="ab_pilgrim">
                "Паломничество – это отражение в земном мире духовного пути. Снаружи мы идём в паломничество. Внутри –
                мы
                идём
                к
                Богу. Мы едем контактировать с высокими божественными существами. Мы едем очищать себя, открывать свою
                душу.
                Мы
                едем получать благословения на будущую жизнь, на то, что меняет нашу жизнь."
              </p>
              <p class="divider">
                <img src="assets/Images/figure_.png" alt="divider">
              </p>
            </div>
            <p class="m_nama">Свами Вишнудевананда Гири</p>
          </div>
          <div class="block_master right">
            <div class="m_title">
              <p class="m_top fk"><span></span> Знакомство с мастером <span class="fd"></span></p>
            </div>
            <div class="about_master">
              <p class="m_name">
                Шротрия Брахмаништха Анант<br>
                Шри Вибхушит Панч Дашанам Джуна Акхара <br>
                Махамандалешвар Свами Вишнудевананда <br>
                Гири
              </p>
            </div>
            <div class="about_master sc">
              <p class="r_dl">
                <img src="assets/Images/1.png" alt="l">
              </p>
              <p class="about_m">
                Всемирно известный, утвержденный в Брахмане,<br>
                обладающий безграничными силами, Владыка<br> Вселенской
                мандалы, тот, кто достигает<br> блаженства через Вишну,
                поднимаясь на самую<br> вершину за пределами всех пределов.
              </p>
              <p class="r_dl">
                <img src="assets/Images/2.png" alt="r">
              </p>
            </div>
            <div class="about_master">
              <p class="m_d">
                Духовный учитель (имеющий полномочия инициировать в санньясу) в традиции адвайта-веданты и йоги, садху,
                реализованный мастер-джняни в линии адвайта-веданты, философ, теолог, писатель, паломник-путешественник,
                имеющий учеников монахов и мирян по всему миру – в России, Украине, Белоруссии, Европе, США, Индии,
                Непале
              </p>
            </div>
            <div class="about_master">
              <p class="divider">
                <img src="assets/Images/figure_.png" alt="divider">
              </p>
            </div>
          </div>
        </div>
        <div class="bottom_social">
          <p class="more">Больше информации на страницах:</p>
          <div class="soc_w">
            <p (click)="goToURl('https://instagram.com/swami_vishnudevananda_giri')" class="more"><img class="soc_l"
                src="assets/Images/insta.png" alt="instagram"> swami_vishnudevananda_giri
            </p>
            <p (click)="goToURl('https://t.me/swami_vishnudevananda_giri')" class="more"><img class="soc_l"
                src="assets/Images/telega.png" alt="telegram"> swami_vishnudevananda_giri
            </p>
            <p (click)="goToURl('https://www.youtube.com/c/СвамиВишнудеванандагири')" class="more"><img class="soc_l"
                src="assets/Images/yt.png" alt="tube"> Свами Вишнудевананда Гири
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bl_height">
    <div id="about_program" class="wrapper">
      <div class="bh_wrapper">
        <p class="m_top"><span></span>Этапы и программа<span class="fd"></span></p>
        <div class="level_wrap">
          <div class="header_cont">
            <div class="num">
              <p class="nmb">1</p>
              <p class="lv">этап</p>
            </div>
            <div class="h_cont">
              <p class="txt_pl">Юг Индии, г. Омаллур (Авадхута сиддха ашрам)</p>
              <div class="dt_wrap">
                <img src="assets/Images/cald.png" alt="wrap">
                <p class="dt_txt">30 августа - 06 сентября</p>
              </div>
            </div>
          </div>
          <div class="plates_wrap">
            <div class="plate_item">
              <div class="pl_out-wrap">
                <img class="rect" src="assets/Images/rect.png" alt="rect">
                <div (click)="expand(1)" class="text_multiple">
                  <img [ngClass]="hasExpand[1] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
                  <p class="dt_texts">30 августа -&nbsp;</p>
                  <p class="te_gen"><span>приезд Гуру, монахов и гостей в «Авадхута сиддха ашрам»</span></p>
                </div>
                <div [ngClass]="hasExpand[1] ? 'expanded' : ''" class="more_info">
                  <div class="text_wrapper">
                    <ul>
                      <li class="te_gen">Заезд, размещение; заселение гостей в отели поблизости.</li>
                    </ul>
                  </div>
                  <div class="img_event_wrap">
                    <p class="gan_wrap">
                      <video autoplay loop muted playsinline src="assets/gif/30aug.mp4"></video>
                      <!-- <img src="assets/Images/gan.png" alt="gan"> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="plate_item">
              <div class="pl_out-wrap">
                <img class="rect" src="assets/Images/rect.png" alt="rect">
                <div (click)="expand(2)" class="text_multiple double">
                  <img [ngClass]="hasExpand[2] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
                  <p class="dt_texts">31 августа -&nbsp;</p>
                  <p class="te_gen"><span>празднование Ганеша-чатуртхи и Шрипада-джаянти. <br> Большой Символ Веры
                    </span></p>
                </div>
                <div [ngClass]="hasExpand[2] ? 'expanded' : ''" class="more_info">
                  <div class="text_wrapper">
                    <ul>
                      <li class="te_gen">Вместе с Гуру мы проведем хому (огненный ритуал) Ганеше</li>
                      <li class="te_gen">Ганеша – это божество, олицетворяющее мощную энергию Муладхара-чакры, которая,
                        пробуждаясь, сметает все сомнения и препятствия нашей жизни. Это также божество ананды –
                        радости и счастья, которые являются истинной природой нашей души. Призываем энергии Ганеши
                        для устранения препятствий на пути к духовному развитию и материальному благополучию.</li>
                      <li class="te_gen">В этот день отмечается так же день явления аватара Господа Даттатрейи в эту
                        Кали югу - Шрипада Шри Валабхи! В двойной праздник сила благословений святых удваивается!
                        Проведение огненных ритуалов также дарует бесчисленные благословения и заслуги! И мы будет
                        посвящать их благу всех живых существ.</li>
                      <li class="te_gen">И в этот дважды благословенный день в этом году проводится инициация БОЛЬШОГО
                        СИМВОЛА ВЕРЫ.
                        Самое главное событие в жизни человека – это принятие веры, духовного пути и школы. Эта
                        инициация откроет врата в Дхарму всем начинающим духовным искателям. Принимая Символ Веры, мы
                        устанавливаем связь с божествами традиции, святыми и высказываем свое намерение преданности,
                        любви к Богу и святым. Это меняет линию судьбы, направляя ее на путь духовного совершенствования
                        и Истины.
                        Большой Символ Веры можно пройти повторно для обновления, укрепления и очищения самайной связи.
                      </li>
                      <li class="te_gen">Ежедневные Сатсанги Гуру свами Вишнудевананда Гири.
                        «Какова бы ни была цена, как бы трудно это ни было, какие бы препятствия ни возникали, никогда
                        не пренебрегай обществом мудрых. Только сатсанг освещает дорогу жизни. Сатсанг превыше всех
                        других видов религиозной практики: благотворительности, аскетизма, посещений святынь и
                        исполнения ритуалов.» («Йога Васиштха»)
                      </li>
                    </ul>
                  </div>
                  <div class="img_event_wrap">
                    <p class="gan_wrap">
                      <video autoplay loop muted playsinline src="assets/gif/31aug.mp4"></video>
                      <!-- <img src="assets/Images/gan.png" alt="gan"> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="plate_item">
              <div class="pl_out-wrap">
                <img class="rect" src="assets/Images/rect.png" alt="rect">
                <div (click)="expand(3)" class="text_multiple">
                  <img [ngClass]="hasExpand[3] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
                  <p class="dt_texts">1 сентября -&nbsp;</p>
                  <p class="te_gen"><span>День передачи Учения. Сарасвати-хома.</span></p>
                </div>
                <div [ngClass]="hasExpand[3] ? 'expanded' : ''" class="more_info">
                  <div class="text_wrapper">
                    <ul>
                      <li class="te_gen">Огненный ритуал (хома) энергии Истинной Мудрости – Сарасвати.
                        САРАСВАТИ – Богиня Мудрости и речи, Вместилище духовных знаний, а так же искусств, наук,
                        ремесел и мастерства, олицетворение эстетического разума. Это творческая энергия Бога-Творца и
                        представляет могущество и интеллект, без которых невозможно упорядоченное творение.
                      </li>
                      <li class="te_gen">Призываем энергии Сарасвати для раскрытия мудрости, Истинного знания, ясности
                        ума, творчества в нашем духовном Пути и материальной жизни!</li>
                      <li class="te_gen">Традиционно в этот день состоятся передачи в практики от Гуру, махантов и
                        монахов.</li>
                    </ul>
                    <!-- <p class="te_gen wrap">САРАСВАТИ – Богиня Мудрости и речи, Вместилище духовных знаний, а так же
                      искусств, наук, ремесел и мастерства, олицетворение эстетического разума. Это творческая энергия
                      Бога-Творца и представляет могущество и интеллект, без которых невозможно упорядоченное творение.
                      Призываем энергии Сарасвати для раскрытия мудрости, Истинного знания, ясности ума, творчества в
                      нашем духовном Пути и материальной жизни!</p>
                    <p class="te_gen wrap">Передачи в практики от Гуру, махантов, монахов.</p> -->
                  </div>
                  <div class="img_event_wrap">
                    <p class="gan_wrap">
                      <video autoplay loop muted playsinline src="assets/gif/1sep.mp4"></video>
                      <!-- <img src="assets/Images/gan.png" alt="gan"> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="plate_item">
              <div class="pl_out-wrap">
                <img class="rect" src="assets/Images/rect.png" alt="rect">
                <div (click)="expand(4)" class="text_multiple">
                  <img [ngClass]="hasExpand[4] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
                  <p class="dt_texts">2 сентября -&nbsp;</p>
                  <p class="te_gen"><span>сакральный ритуал открытия Храма Свами Брахмананды.</span></p>
                </div>
                <div [ngClass]="hasExpand[4] ? 'expanded' : ''" class="more_info">
                  <div class="text_wrapper">
                    <ul>
                      <li class="te_gen">СВАМИ БРАХМАНАНДА ШРИ ШИВА ПРАБХАКАРА СИДДХА ЙОГИ ПАРАМАХАМСА – парамгуру нашей
                        школы, т.е. гуру нашего Гуру, наш “духовный дедушка”.</li>
                    </ul>
                    <p class="te_gen wrap">
                      Открытие его храма является одной из главных причин этой поездки и важность этого события
                      невозможно переоценить: будет открыто ещё одно место паломничества и прямого нисхождения
                      просветляющей силы Ануграха шакти на Земле! Открытие храма - это огромный подарок, великая
                      милость для людей, ниспосылаемая богами. Это мощное очищение кармы многих воплощений, это
                      накопление благой кармы, ведущей душу к Освобождению от исконного неведения и страданий, это
                      сильная поддержка души на Пути к Богу. И даже одно лишь присутствие на подобных священных действах
                      - огромное благословение и накопление духовных заслуг!</p>
                  </div>
                  <div class="img_event_wrap">
                    <p class="gan_wrap">
                      <video autoplay loop muted playsinline src="assets/gif/2sep.mp4"></video>
                      <!-- <img src="assets/Images/gan.png" alt="gan"> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="plate_item">
              <div class="pl_out-wrap">
                <img class="rect" src="assets/Images/rect.png" alt="rect">
                <div (click)="expand(5)" class="text_multiple double">
                  <img [ngClass]="hasExpand[5] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
                  <p class="dt_texts">3-6 сентября -&nbsp;</p>
                  <p class="te_gen"><span> семинар с Гуру свами Вишнудевананда Гири <br> - «Блаженство
                      энергии и Ясный Свет»</span>
                  </p>
                </div>
                <div [ngClass]="hasExpand[5] ? 'expanded' : ''" class="more_info">
                  <div class="text_wrapper">
                    <ul>
                      <li class="te_gen">Уникальная возможность получить прямые передачи в глубокие практики и бесценные
                        наставления Мастера в традиции Ануттара-тантры сиддхов, усердно практикуя которые в дальнейшем,
                        каждый сможет открыть блаженство энергии и Ясный Свет.</li>
                    </ul>
                  </div>
                  <div class="img_event_wrap">
                    <p class="gan_wrap">
                      <video autoplay loop muted playsinline src="assets/gif/3-6sep.mp4"></video>
                      <!-- <img src="assets/Images/gan.png" alt="gan"> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="plate_item">
              <div class="pl_out-wrap">
                <img class="rect" src="assets/Images/rect.png" alt="rect">
                <div (click)="expand(6)" class="text_multiple double">
                  <img [ngClass]="hasExpand[6] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
                  <p class="dt_texts">3 сентября -&nbsp;</p>
                  <p class="te_gen"><span>встреча с преданными свами Брахмананды: Вену Гопалом,<br> Карпура Сундара
                      Пандианом.</span>
                  </p>
                </div>
                <div [ngClass]="hasExpand[6] ? 'expanded' : ''" class="more_info">
                  <div class="text_wrapper">
                    <ul>
                      <li class="te_gen">Свами Брахмананда Шри Шива Прабхакара Сиддха Йоги Парамахамса – это
                        величайший авадхута, ученик мастера традиции сиддхов – Шри Памбатти.</li>
                    </ul>
                    <p class="te_gen wrap">Свамиджи очень хорошо известен в индийском штате Керала, где имеет множество
                      почитателей и свидетелей его чудес. Он жил под разными именами, не старея, много эпох во многих
                      местах Индии: как на севере, так и на юге. Являясь мастером тайной техники паракайя-правешана,
                      он неоднократно вселялся в тела различных людей.</p>
                    <p class="te_gen wrap">Нам выпадет прекрасная возможность встретиться с его преданными, которые были
                      свидетелями некоторых эпизодов жизни великого святого.</p>
                  </div>
                  <div class="img_event_wrap">
                    <p class="gan_wrap">
                      <video autoplay loop muted playsinline src="assets/gif/3sep.mp4"></video>
                      <!-- <img src="assets/Images/gan.png" alt="gan"> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="plate_item">
              <div class="pl_out-wrap">
                <img class="rect" src="assets/Images/rect.png" alt="rect">
                <div (click)="expand(7)" class="text_multiple double">
                  <img [ngClass]="hasExpand[7] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
                  <p class="dt_texts">6 сентября 12-00 -&nbsp;</p>
                  <p class="te_gen"><span>окончание семинара, экскурсии по местным храмам<br>
                      и переезд на океан в Варкалу.</span></p>
                </div>
                <div [ngClass]="hasExpand[7] ? 'expanded' : ''" class="more_info">
                  <div class="text_wrapper">
                    <p class="te_gen wrap">Экскурсии по местным храмам: Аранмула темпл и Ченганнур Махадева темпл:</p>
                    <p class="te_gen wrap"><span>Аранмула темпл</span> - один из самых важных храмов Кришны в Керале и
                      одна из пяти
                      древних святынь в районе Ченганнур в Керале, связанная с легендой Махабхараты, где, как полагают,
                      пять Пандавов построили по одному храму каждый; Аранмула построена принцем Пандавов Арджуной.
                      Здесь хранится тханка анки, золотое одеяние Айяппана, подаренное королем Траванкора.
                      Аранмула также известна гонками на змеиных лодках, которые проводятся каждый год во время Онама и
                      связаны с легендами Махабхараты.</p>
                    <p class="te_gen wrap"><span>Храм Ченганнур Махадевар</span> — один из старейших и известных храмов,
                      расположенный
                      в районе Алаппужа. Это обширный храмовый комплекс с круглым святилищем. Господь Шива и Парвати
                      Деви
                      являются главными украшениями этого храма. В отличие от других храмов, в этом храме есть две
                      главные
                      святыни. Главная святыня коническая, покрытая медью. Главный идол Деви сделан из сплава пяти
                      металлов (ПАНЧАЛОГАМ). Шивалингам покрыт золотой пластиной с изображением Ардханаришвары — или
                      Шива-Шакти, проявление Шивы.</p>
                  </div>
                  <div class="img_event_wrap">
                    <p class="gan_wrap">
                      <video autoplay loop muted playsinline src="assets/gif/6sep.mp4"></video>
                      <!-- <img src="assets/Images/gan.png" alt="gan"> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="g_wrap">
            <button (click)="scrollTo('apply')" class="btn_gen s tr">Оставить заявку</button>
          </div>
        </div>
        <div class="level_wrap">
          <div class="header_cont">
            <div class="num">
              <p class="nmb">2</p>
              <p class="lv">этап</p>
            </div>
            <div class="h_cont">
              <p class="txt_pl">ВАРКАЛА (берег океана) -
                ИНИЦИАЦИИ, ДИКША - наречение духовным именем</p>
              <div class="dt_wrap">
                <img src="assets/Images/cald.png" alt="wrap">
                <p class="dt_txt">6 - 10 сентября</p>
              </div>
            </div>
          </div>
          <div class="plates_wrap">
            <div class="plate_item">
              <div class="pl_out-wrap">
                <img class="rect" src="assets/Images/rect.png" alt="rect">
                <div (click)="expand(8)" class="text_multiple">
                  <img [ngClass]="hasExpand[8] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
                  <p class="dt_texts">6-7 сентября -&nbsp;</p>
                  <p class="te_gen"><span>самостоятельное размещение в отелях в Варкале.</span></p>
                </div>
                <div [ngClass]="hasExpand[8] ? 'expanded' : ''" class="more_info">
                  <div class="text_wrapper">
                    <ul>
                      <li class="te_gen">самостоятельное размещение в отелях в Варкале </li>
                    </ul>
                  </div>
                  <div class="img_event_wrap">
                    <p class="gan_wrap">
                      <video autoplay loop muted playsinline src="assets/gif/6-7sep.mp4"></video>
                      <!-- <img src="assets/Images/gan.png" alt="gan"> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="plate_item">
              <div class="pl_out-wrap">
                <img class="rect" src="assets/Images/rect.png" alt="rect">
                <div (click)="expand(9)" class="text_multiple double">
                  <img [ngClass]="hasExpand[9] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
                  <p class="dt_texts">8 сентября -&nbsp;</p>
                  <p class="te_gen"><span>утренние практики с монахами, ИНИЦИАЦИИ<br> (ДИКШИ), вечером бандара.</span>
                  </p>
                </div>
                <div [ngClass]="hasExpand[9] ? 'expanded' : ''" class="more_info">
                  <div class="text_wrapper">
                    <ul>
                      <li class="te_gen">В этот день на берегу океана изменится духовная жизнь у тех, кто созрел для
                        принятия дикши. Важность этого события невозможно описать словами.
                        «Дикша — это событие, благодаря которому душа обретает божественную мудрость и освобождается от
                        грехов и кармы» («Вишну-ямала»).
                        Дикша — это посвящение, благодаря которому от Гуру к ученику, как от одного сосуда в другой,
                        течет божественное знание об Абсолюте.
                      </li>
                      <li class="te_gen">Начнутся инициации с огненного ритуала (хома) для участников (дикшиты).</li>
                      <li class="te_gen">И завершится день сакральных посвящений бандарой для Гуру и монахов.
                        По наставлениям священных текстов, уважение, подношение пищи святым, садху и монахам удлиняет
                        жизнь и очищает карму подносящего, считается мощным процессом накопления семян белой кармы.
                      </li>
                      <li class="te_gen">Прасад - это Брахман, он не отличен от Брахмана, Шивы и Ишта-дэваты. Мы
                        оказываем почитание Им в форме прасада, раздавая его и вкушая.</li>
                    </ul>
                  </div>
                  <div class="img_event_wrap">
                    <p class="gan_wrap">
                      <video autoplay loop muted playsinline src="assets/gif/8sep.mp4"></video>
                      <!-- <img src="assets/Images/gan.png" alt="gan"> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="plate_item">
              <div class="pl_out-wrap">
                <img class="rect" src="assets/Images/rect.png" alt="rect">
                <div (click)="expand(10)" class="text_multiple double">
                  <img [ngClass]="hasExpand[10] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
                  <p class="dt_texts">9 сентября -&nbsp;</p>
                  <p class="te_gen"><span>свободный день, практики с монахами, сатсанг Гуру<br> Cвами Вишнудевананда
                      Гири.</span> </p>
                </div>
                <div [ngClass]="hasExpand[10] ? 'expanded' : ''" class="more_info">
                  <div class="text_wrapper">
                    <ul>
                      <li class="te_gen">«Какова бы ни была цена, как бы трудно это ни было, какие бы препятствия ни
                        возникали, никогда не пренебрегай обществом мудрых. Только сатсанг освещает дорогу жизни.
                        Сатсанг превыше всех других видов религиозной практики: благотворительности, аскетизма,
                        посещений святынь и исполнения ритуалов.» («Йога Васиштха») </li>
                    </ul>
                  </div>
                  <div class="img_event_wrap">
                    <p class="gan_wrap">
                      <video autoplay loop muted playsinline src="assets/gif/9sep.mp4"></video>
                      <!-- <img src="assets/Images/gan.png" alt="gan"> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="plate_item">
              <div class="pl_out-wrap">
                <img class="rect" src="assets/Images/rect.png" alt="rect">
                <div (click)="expand(11)" class="text_multiple double">
                  <img [ngClass]="hasExpand[11] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
                  <p class="dt_texts">10-11 сентября -&nbsp;</p>
                  <p class="te_gen"><span>перелет в Дели. Экскурсия в храмовый комплекс<br> Акшардхам в Дели</span></p>
                </div>
                <div [ngClass]="hasExpand[11] ? 'expanded' : ''" class="more_info">
                  <div class="text_wrapper">
                    <ul>
                      <li class="te_gen">самостоятельное заселение в отели г.Дели </li>
                      <li class="te_gen">Акшардха́м — индуистский храмовый комплекс, который вошёл в Книгу Рекордов
                        Гиннеса как самый грандиозный индуистский храм в мире! Его строительство велось с участием 7
                        тысяч мастеров из Раджастхана, Ориссы и Бенгалии. </li>
                    </ul>
                  </div>
                  <div class="img_event_wrap">
                    <p class="gan_wrap">
                      <video autoplay loop muted playsinline src="assets/gif/10-11sep.mp4"></video>
                      <!-- <img src="assets/Images/gan.png" alt="gan"> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="g_wrap">

          </div> -->
        </div>
        <div class="level_wrap">
          <div class="header_cont">
            <div class="num">
              <p class="nmb">3</p>
              <p class="lv">этап</p>
            </div>
            <div class="h_cont">
              <p class="txt_pl">
                Программа севера завит от того, где будет встреча великих мастеров - Пайлот Бабаджи и Свами
                Вишнудевананда Гири.
                Есть два возможных направления программы.
              </p>
              <div class="dt_wrap">
                <img src="assets/Images/cald.png" alt="wrap">
                <p class="dt_txt">12 - 18 сентября</p>
              </div>
            </div>
          </div>
          <div class="plates_wrap">
            <div class="plate_item">
              <div class="pl_out-wrap">
                <img class="rect" src="assets/Images/rect.png" alt="rect">
                <div (click)="expand(12)" class="text_multiple double">
                  <img [ngClass]="hasExpand[12] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
                  <p class="dt_texts">12-18 сентября -&nbsp;</p>
                  <p class="te_gen"><span>Переезд / перелет в Харидвар или Варанаси. Встреча<br> Cвами Вишнудевананда
                      Гири и Махайоги Пайлота Бабаджи.</span></p>
                </div>
                <div [ngClass]="hasExpand[12] ? 'expanded' : ''" class="more_info">
                  <div class="text_wrapper">
                    <ul>
                      <li class="te_gen">Программа севера завит от того, где будет встреча великих мастеров - Пайлот
                        Бабаджи и Свами Вишнудевананда Гири.
                        Есть два возможных направления программы:
                      </li>
                      <li class="te_gen">1) Поедем в ашрам Пайлота Бабаджи в САСАРАМЕ, и посетим так же священный
                        древнейший город в мире, любимый город Господа Шивы – Варанаси и его известный храм Каши
                        Вишванатх, где находится один из 12-ти джьотир-лингамов (самопроявленный Шивалингам).
                        Маршрут: Дели - Варанаси - Сасарам
                      </li>
                      <li class="te_gen">2) Поедем к Бабаджи в его ашрам в ХАРИДВАРЕ, и так же посетим святой Ришикеш,
                        считающийся мировой столицей йоги, и его особые места, посетим пещеру риши Васиштхи.
                        Маршрут: Дели - Харидвар - Ришикеш
                      </li>
                      <li class="te_gen">В любом случае, будем ли мы в Харидваре или в Варанаси, мы получим
                        благословения Матери Ганги.
                        И в каком бы из ашрамов великого святого Пайлота Бабаджи мы не оказались - это всегда
                        спонтанная, запредельная игра, непрерывный даршан. Само пребывание в поле двух реализованных
                        Мастеров – это большое благословение.
                      </li>
                    </ul>
                  </div>
                  <div class="img_event_wrap">
                    <p class="gan_wrap">
                      <video autoplay loop muted playsinline src="assets/gif/12-18sep.mp4"></video>
                      <!-- <img src="assets/Images/gan.png" alt="gan"> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <p class="txt_pl">
              ВАРИАНТ А - ХАРИДВАР – РИШИКЕШ
            </p>
            <div class="plate_item">
              <div class="pl_out-wrap">
                <img class="rect" src="assets/Images/rect.png" alt="rect">
                <div (click)="expand(13)" class="text_multiple double">
                  <img [ngClass]="hasExpand[13] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
                  <p class="dt_texts">12 сентября -&nbsp;</p>
                  <p class="te_gen"><span>выезд из Дели в Харидвар, размещение в ашраме<br> Пайлота Бабаджи, сатсанг,
                      вечерние арати на Гангe.</span></p>
                </div>
                <div [ngClass]="hasExpand[13] ? 'expanded' : ''" class="more_info">
                  <div class="text_wrapper">
                    <ul>
                      <li class="te_gen">ХАРИДВАР (Майяпури) - один из семи священных городов индуизма, его название
                        означает «ворота к Богу», т.к. находится в том месте, где Ганга, зародившаяся в Гималаях - Земле
                        Богов - начинает течь по равнине, земле смертных и их иллюзий - "майя".
                      </li>
                    </ul>
                    <p class="te_gen wrap">Мы разместимся в красивом и величественном ашраме знаменитого Великого
                      Махайоги Пайлота Бабаджи.</p>
                  </div>
                  <div class="img_event_wrap">
                    <p class="gan_wrap">
                      <video autoplay loop muted playsinline src="assets/gif/12a.mp4"></video>
                      <!-- <img src="assets/Images/gan.png" alt="gan"> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="plate_item">
              <div class="pl_out-wrap">
                <img class="rect" src="assets/Images/rect.png" alt="rect">
                <div (click)="expand(14)" class="text_multiple double">
                  <img [ngClass]="hasExpand[14] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
                  <p class="dt_texts">13 - 14 сентября -&nbsp;</p>
                  <p class="te_gen"><span>семинар «Глубинные учения традиции сиддхов»,<br> утренние практики на Ганге,
                      дневные экскурсии<br></span></p>
                </div>
                <div [ngClass]="hasExpand[14] ? 'expanded' : ''" class="more_info">
                  <div class="text_wrapper">
                    <p class="te_gen dd"><span>по Харидвару, послеобеденные сатсанги и передачи Мастера.</span></p>
                    <ul>
                      <li class="te_gen">Главный храм и божество в Харидваре - это сама река Ганга, а самое священное
                        место - это главное место ритуального омовения - гхат Хар Ки Паури, что означает «Нога Господа»
                         - место, где по легенде Господь Вишну обронил несколько капель божественного нектара и оставил
                        свой след. Здесь очищают себя и своих предков от всех грехов.
                      </li>
                      <li class="te_gen">Так же мы посетим Храм Манса Деви и Храм Чанди Деви.
                        В совокупности с семинаром “Глубинные учения традиции сиддхов”, практиками и передачами от Гуру
                        и монахов, сатсангами Гуру все это сделает пребывание в этом священном месте одним сплошным
                        даршаном (благословением).
                      </li>
                    </ul>
                  </div>
                  <div class="img_event_wrap">
                    <p class="gan_wrap">
                      <video autoplay loop muted playsinline src="assets/gif/13-14a.mp4"></video>
                      <!-- <img src="assets/Images/gan.png" alt="gan"> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="plate_item">
              <div class="pl_out-wrap">
                <img class="rect" src="assets/Images/rect.png" alt="rect">
                <div (click)="expand(15)" class="text_multiple double">
                  <img [ngClass]="hasExpand[15] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
                  <p class="dt_texts">15 - 16 сентября -&nbsp;</p>
                  <p class="te_gen"><span>Ришикеш. Посещение местных храмов, пещеры<br> Васиштхи, водопада. Сатсанги и
                      передачи </span></p>
                </div>
                <div [ngClass]="hasExpand[15] ? 'expanded' : ''" class="more_info">
                  <div class="text_wrapper">
                    <p class="te_gen dd"><span>Гуру в местах силы Ришикеша.</span></p>
                    <ul>
                      <li class="te_gen">РИШИКЕШ — святой город, признанный столицей йоги на планете! Название
                        происходит от слова “риши” — мудрец. Его так же называют воротами в Гималаи — отсюда паломники
                        отправляются по горным святым местам. 
                        Здесь невероятные по красоте предгорья Гималайских гор, здесь река Ганга покидает горные ущелья
                        и полнокровно разливается по равнине. Вдоль ее берегов находится множество ашрамов. С древних
                        времен и по сей день, здесь находят пристанище святые мудрецы, многие выдающиеся гуру и йогины.
                      </li>
                      <li class="te_gen">Мы посетим Пещеру Васиштхи (Вашиштх Гуфа) – очень древняя пещера, в которой
                        медитировал сам великий святой Риши Васиштха!
                        Посещение этих и других мест силы Ришикеша вместе с передачами практик и сатсангами Свами
                        Вишнудевананда Гири – может стать одной сплошной медитацией и божественным откровением для
                        каждого.
                      </li>
                    </ul>
                  </div>
                  <div class="img_event_wrap">
                    <p class="gan_wrap">
                      <video autoplay loop muted playsinline src="assets/gif/15-16a.mp4"></video>
                      <!-- <img src="assets/Images/gan.png" alt="gan"> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="plate_item">
              <div class="pl_out-wrap">
                <img class="rect" src="assets/Images/rect.png" alt="rect">
                <div (click)="expand(16)" class="text_multiple double">
                  <img [ngClass]="hasExpand[16] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
                  <p class="dt_texts">17 - 18 сентября -&nbsp;</p>
                  <p class="te_gen"><span>заключительные сатсанг и Бандара <br>выезд в Дели</span></p>
                </div>
                <div [ngClass]="hasExpand[16] ? 'expanded' : ''" class="more_info">
                  <div class="text_wrapper">
                    <p style="font-style: italic;" class="te_gen dd"><span>«Какова бы ни была цена, как бы трудно это ни
                        было, какие бы препятствия ни возникали, никогда не пренебрегай обществом мудрых. Только сатсанг
                        освещает дорогу жизни. Сатсанг превыше всех других видов религиозной практики:
                        благотворительности, аскетизма, посещений святынь и исполнения ритуалов.» («Йога Васиштха»)
                      </span></p>
                    <ul>
                      <li class="te_gen">По наставлениям священных текстов, уважение, подношение пищи святым, садху и
                        монахам удлиняет жизнь и очищает карму подносящего, считается мощным процессом накопления семян
                        белой кармы.

                      </li>
                      <li class="te_gen">Прасад - это Брахман, он не отличен от Брахмана, Шивы и Ишта-дэваты. Мы
                        оказываем почитание Им в форме прасада, раздавая его и вкушая.
                      </li>
                    </ul>
                  </div>
                  <div class="img_event_wrap">
                    <p class="gan_wrap">
                      <video autoplay loop muted playsinline src="assets/gif/17-18a.mp4"></video>
                      <!-- <img src="assets/Images/gan.png" alt="gan"> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <p class="txt_pl">
              ВАРИАНТ Б - САСАРАМ – ВАРАНАСИ
            </p>
            <div class="plate_item">
              <div class="pl_out-wrap">
                <img class="rect" src="assets/Images/rect.png" alt="rect">
                <div (click)="expand(17)" class="text_multiple double">
                  <img [ngClass]="hasExpand[17] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
                  <p class="dt_texts">12-13 сентября -&nbsp;</p>
                  <p class="te_gen"><span>выезд из Дели в Сасарам<br> посещение ашрама Бабаджи в Сасараме</span></p>
                </div>
                <div [ngClass]="hasExpand[17] ? 'expanded' : ''" class="more_info">
                  <div class="text_wrapper">
                    <ul>
                      <li class="te_gen">Сасарам (Сахасрам, от “Сахастрарама” - означает “тысяча рощ”) — древний
                        исторический город, история которого насчитывает тысячи лет. В доисторическую эпоху Будда прошел
                        этим путем и прожил несколько дней. Сасарам и горный хребет Каймур - это благословенная природа
                        с многочисленными впечатляющими водопадами, озерами, реками и живописными местами, и, конечно,
                        храмами.
                        Именно здесь в 1938 году родился Махайоги Пайло Бабаджи и построил один из своих ашрамов. И мы
                        посетим этот ашрам, который выглядит как огромный красивый храм с колоннами в старинном стиле.
                      </li>
                    </ul>
                  </div>
                  <div class="img_event_wrap">
                    <p class="gan_wrap">
                      <video autoplay loop muted playsinline src="assets/gif/12-13b.mp4"></video>
                      <!-- <img src="assets/Images/gan.png" alt="gan"> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="plate_item">
              <div class="pl_out-wrap">
                <img class="rect" src="assets/Images/rect.png" alt="rect">
                <div (click)="expand(18)" class="text_multiple double">
                  <img [ngClass]="hasExpand[18] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
                  <p class="dt_texts">14 сентября -&nbsp;</p>
                  <p class="te_gen"><span>Бодхгая.</span></p>
                </div>
                <div [ngClass]="hasExpand[18] ? 'expanded' : ''" class="more_info">
                  <div class="text_wrapper">
                    <ul>
                      <li class="te_gen">БОДХГАЯ - небольшой городок знаменитый храмовым комплексом, к которому
                        стекаются многочисленные паломники со всех стран мира. Главная достопримечательность и святыня
                        здесь – Ступа (храм) Махабодхи. Ступа расположена на месте, где принц Сиддхардха Гаутама достиг
                        просветления и стал Буддой Шакьямуни. Внутри ступы - Будда на алмазном троне.
                      </li>
                      <li class="te_gen">Так же местом паломничества здесь является примыкающее к храму святое дерево
                        Бодхи. Это дерево было выращено из семени дерева Джайя Шри Маха Бодхи на Шри-Ланке, которое, в
                        свою очередь, произошло от оригинального дерева Махабодхи, под которым Будда нашёл Просветление.
                      </li>
                    </ul>
                  </div>
                  <div class="img_event_wrap">
                    <p class="gan_wrap">
                      <video autoplay loop muted playsinline src="assets/gif/14b.mp4"></video>
                      <!-- <img src="assets/Images/gan.png" alt="gan"> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="plate_item">
              <div class="pl_out-wrap">
                <img class="rect" src="assets/Images/rect.png" alt="rect">
                <div (click)="expand(19)" class="text_multiple double">
                  <img [ngClass]="hasExpand[19] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
                  <p class="dt_texts">15 сентября -&nbsp;</p>
                  <p class="te_gen"><span>Сасарам.</span></p>
                </div>
                <div [ngClass]="hasExpand[19] ? 'expanded' : ''" class="more_info">
                  <div class="text_wrapper">
                    <ul>
                      <li class="te_gen">В Сасараме много известных религиозных и исторических мест, и мы сможем
                        посетить:
                      </li>
                      <li class="te_gen">Храм Маа Тара Чанди — старейший и один из самых священных храмов города,
                        посвященный Великой Богине Дурге. Этот храм считается одним из 51 - шакти-питх в Индии! Пураны
                        (святые писания) говорят, что сюда упал «правый глаз» (нетра) Супруги Махадева - Сати, когда
                        Господь Вишну своей Сударшана чакрой разрубил Ее на части. И первоначально этот древний храм
                        назывался Маа Сати.
                      </li>
                      <li class="te_gen">Сасарам окружен самой живописной горной красотой хребта Каймур, реками и
                        полями. Здесь более 200 водопадов, возникающих во время сезона дождей, и мы посетим водопады
                        Манджхар Кунд и Дхуан Кунд в 10 км от Сасарама
                      </li>
                    </ul>
                  </div>
                  <div class="img_event_wrap">
                    <p class="gan_wrap">
                      <video autoplay loop muted playsinline src="assets/gif/15b.mp4"></video>
                      <!-- <img src="assets/Images/gan.png" alt="gan"> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="plate_item">
              <div class="pl_out-wrap">
                <img class="rect" src="assets/Images/rect.png" alt="rect">
                <div (click)="expand(20)" class="text_multiple double">
                  <img [ngClass]="hasExpand[20] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
                  <p class="dt_texts">16 - 17 сентября -&nbsp;</p>
                  <p class="te_gen"><span>Варанаси: экскурсии по храмам (Каши Вишванатх),<br> прогулка на лодке по
                      Ганге, вечерние арати.</span></p>
                </div>
                <div [ngClass]="hasExpand[20] ? 'expanded' : ''" class="more_info">
                  <div class="text_wrapper">
                    <ul>
                      <li class="te_gen">ВАРАНАСИ (Каши, Бенарес) был основан богом Шивой около 5000 лет назад, точная
                        дата основания неизвестна, но он считается одним из древнейших непрерывно существующих городов
                        мира. В одном их стихов Сканда-пураны бог Шива говорит: «Три мира образуют один мой город и мой
                        королевский дворец в нём».

                      </li>
                      <li class="te_gen">В индуизме это одно из главных мест почитания Шивы Махадева (здесь более 1000
                        его храмов) и Ганги. Мы посетим самый известный храм Шивы - Каши Вишванатх, что означает
                        «Господин Вселенной» и сможем совершить поклонение одному и 12 джьотир-лингамов (самопроявленный
                        Шивалингам), который находится именно здесь!
                      </li>
                      <li class="te_gen">Мы поплаваем на лодках по священной Ганге, полюбуемся впечатляющим видом
                        множества храмов, их тонких башен и главного вечернего мистического завораживающего действа –
                        огненный ритуал поклонения Ганге – вечернее арати.
                      </li>
                    </ul>
                    <p style="font-style: italic;" class="te_gen dd"><span>«Варанаси старше, чем история, старше, чем
                        традиция, старше, чем даже легенда, и выглядит, к тому же, в два раза старше, чем все они,
                        вместе взятые!» – Марк Твен.
                      </span></p>
                  </div>
                  <div class="img_event_wrap">
                    <p class="gan_wrap">
                      <video autoplay loop muted playsinline src="assets/gif/16-17b.mp4"></video>
                      <!-- <img src="assets/Images/gan.png" alt="gan"> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="plate_item">
              <div class="pl_out-wrap">
                <img class="rect" src="assets/Images/rect.png" alt="rect">
                <div (click)="expand(21)" class="text_multiple double">
                  <img [ngClass]="hasExpand[21] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
                  <p class="dt_texts">18 сентября -&nbsp;</p>
                  <p class="te_gen"><span>выезд в Дели.</span></p>
                </div>
                <!-- <div [ngClass]="hasExpand[21] ? 'expanded' : ''" class="more_info">
                </div> -->
              </div>
            </div>
          </div>
          <!-- <div class="g_wrap">

          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="bl_second">
    <div class="wrapper">
      <div class="carousel_wrap">
        <p class="m_top"><span></span>Фотогалерея<span class="fd"></span></p>
        <div class="tour_slide-wrap">
          <p (click)="previous()" class="arrow_w l">
            <img src="assets/Images/left.png" alt="arrow">
          </p>
          <div class="slider_wrap">
            <div class="sl_main-wrap">
              <div class="n_sl first_sl">
                <img [src]=slides[first].path alt="pic">
              </div>
              <div class="n_sl middle_sl">
                <img [src]=slides[middle].path alt="pic">
              </div>
              <div class="n_sl last_sl">
                <img [src]=slides[last].path alt="pic">
              </div>
            </div>
          </div>
          <p (click)="next()" class="arrow_w r">
            <img src="assets/Images/right.png" alt="arrow">
          </p>
        </div>
        <p class="gallery_t">Присоединиться можно на любом из этапов!</p>
      </div>
    </div>
  </div>
  <div class="program-forum">
    <div id="apply" class="wrapper">
      <div class="registration-form flex flex-col">
        <div class="top_wrap">
          <p class="form_t">Отправить заявку</p>
          <p class="divider_form">
            <img src="assets/Images/dividerfrm.png" alt="divider">
          </p>
        </div>
        <div class="form-registration-form flex justify-between" [formGroup]="form" id="registration-form">
          <input type="text" class="input-form-gold" placeholder="имя" formControlName="name" />
          <input type="email" class="input-form-gold" placeholder="email" formControlName="email" />
          <!-- <input type="text" class="input-form-gold" placeholder="телефон" formControlName="phone" /> -->
          <ngx-intl-tel-input [cssClass]="'custom'" [preferredCountries]="preferredCountries"
            [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true" [searchCountryField]="[
            SearchCountryField.Iso2,
            SearchCountryField.Name
          ]" [selectFirstCountry]="false" [selectedCountryISO]="selectedCountry" [maxLength]="15"
            [phoneValidation]="true" [separateDialCode]="true" [numberFormat]="PhoneNumberFormat.National" name="phone"
            formControlName="phone">
          </ngx-intl-tel-input>
        </div>
        <div class="registration-form-button flex justify-center items-center">
          <button class="btn_gen s reg" (click)="sendRegistrationData()" [disabled]="!form.valid"
            [ngClass]="!form.valid ? 'disabled' : 'enabled'">Оставить заявку</button>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper no-pad">
    <div class="support">
      <div class="head-section_wrap">
        <div class="sup_line-wrap">
          <div class="ln_wr">
            <p class="sup_text">ПОДДЕРЖАТЬ ФОНД ПАЛОМНИЧЕСТВА для Гуру и монахов</p>
          </div>
        </div>
      </div>
      <div class="req_wrap">
        <div class="tw_wrap fst">
          <div class="bk_wrap fw">
            <p class="b-im_wrap">
              <img src="assets/Images/csob.png" alt="csob">
            </p>
            <p class="b-txt_wrap">
              ČSOB банк Чехии<br>
              5168 3421 1130 2082 VLADYSLAV MORHUNENKO<br>
              Счёт: 305066270/0300<br>
              IBAN: CZ9603000000000305066270<br>
              BIC (SWIFT) CEKOCZPP
            </p>
            <img class="divider_sc" src="assets/Images/divider.png" alt="line">
          </div>
          <div class="bk_wrap s">
            <p class="b-im_wrap">
              <img src="assets/Images/reifeisen.png" alt="raiffeisen">
            </p>
            <p class="b-txt_wrap">
              Raiffeisen Bank<br>
              5168 7207 9303 0214<br>
              VALERII M.<br>
              Счет - 7114761002/5500
            </p>
            <img class="divider_sc sc" src="assets/Images/divider.png" alt="line">
          </div>
        </div>
        <div class="tw_wrap scd">
          <div class="bk_wrap">
            <p class="b-im_wrap">
              <img src="assets/Images/tinkoff.png" alt="tinkoff">
            </p>
            <p class="b-txt_wrap">
              Тинькофф<br>
              рубли, доллары, евро<br>
              4377 7237 7959 1126<br>
              SVETLANA RAMAEVA
            </p>
            <img class="divider_sc" src="assets/Images/divider.png" alt="line">
          </div>
          <div class="bk_wrap">
            <p class="b-im_wrap">
              <img src="assets/Images/privat.png" alt="privat">
            </p>
            <p class="b-txt_wrap">
              ПриватБанк (Visa)<br>
              4149 6090 1133 2550<br>
              MOLOFIEIEVA ALONA
            </p>
            <img class="divider_sc sc" src="assets/Images/divider.png" alt="line">
          </div>
        </div>
        <div class="tw_wrap last">
          <div class="bk_wrap">
            <p class="b-im_wrap">
              <img src="assets/Images/paypal.png" alt="paypal">
            </p>
            <p class="b-txt_wrap">
              guru.swamivishnudevanandagiri@gmail.com
            </p>
            <img class="divider_sc" src="assets/Images/divider.png" alt="line">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
