<div class="level_wrap">
    <div class="header_cont">
      <div class="num">
        <p class="nmb">2</p>
        <p class="lv">этап</p>
      </div>
      <div class="h_cont">
        <p class="txt_pl">ВАРКАЛА (берег океана) -
          ИНИЦИАЦИИ, ДИКША - наречение духовным именем</p>
        <div class="dt_wrap">
          <img src="assets/Images/cald.png" alt="wrap">
          <p class="dt_txt">6 - 10 сентября</p>
        </div>
      </div>
    </div>
    <div class="plates_wrap">
      <div class="plate_item">
        <div class="pl_out-wrap">
          <img class="rect" src="assets/Images/rect.png" alt="rect">
          <div (click)="expand(8)" class="text_multiple">
            <img [ngClass]="hasExpand[8] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
            <p class="dt_texts">6-7 сентября -&nbsp;</p>
            <p class="te_gen"><span>самостоятельное размещение в отелях в Варкале.</span></p>
          </div>
          <div [ngClass]="hasExpand[8] ? 'expanded' : ''" class="more_info">
            <div class="text_wrapper">
              <ul>
                <li class="te_gen">самостоятельное размещение в отелях в Варкале </li>
              </ul>
            </div>
            <div class="img_event_wrap">
              <p class="gan_wrap">
                <video autoplay loop muted playsinline src="assets/gif/6-7sep.mp4"></video>
                <!-- <img src="assets/Images/gan.png" alt="gan"> -->
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="plate_item">
        <div class="pl_out-wrap">
          <img class="rect" src="assets/Images/rect.png" alt="rect">
          <div (click)="expand(9)" class="text_multiple double">
            <img [ngClass]="hasExpand[9] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
            <p class="dt_texts">8 сентября -&nbsp;</p>
            <p class="te_gen"><span>утренние практики с монахами, ИНИЦИАЦИИ<br> (ДИКШИ), вечером бандара.</span>
            </p>
          </div>
          <div [ngClass]="hasExpand[9] ? 'expanded' : ''" class="more_info">
            <div class="text_wrapper">
              <ul>
                <li class="te_gen">В этот день на берегу океана изменится духовная жизнь у тех, кто созрел для
                  принятия дикши. Важность этого события невозможно описать словами.
                  «Дикша — это событие, благодаря которому душа обретает божественную мудрость и освобождается от
                  грехов и кармы» («Вишну-ямала»).
                  Дикша — это посвящение, благодаря которому от Гуру к ученику, как от одного сосуда в другой,
                  течет божественное знание об Абсолюте.
                </li>
                <li class="te_gen">Начнутся инициации с огненного ритуала (хома) для участников (дикшиты).</li>
                <li class="te_gen">И завершится день сакральных посвящений бандарой для Гуру и монахов.
                  По наставлениям священных текстов, уважение, подношение пищи святым, садху и монахам удлиняет
                  жизнь и очищает карму подносящего, считается мощным процессом накопления семян белой кармы.
                </li>
                <li class="te_gen">Прасад - это Брахман, он не отличен от Брахмана, Шивы и Ишта-дэваты. Мы
                  оказываем почитание Им в форме прасада, раздавая его и вкушая.</li>
              </ul>
            </div>
            <div class="img_event_wrap">
              <p class="gan_wrap">
                <video autoplay loop muted playsinline src="assets/gif/8sep.mp4"></video>
                <!-- <img src="assets/Images/gan.png" alt="gan"> -->
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="plate_item">
        <div class="pl_out-wrap">
          <img class="rect" src="assets/Images/rect.png" alt="rect">
          <div (click)="expand(10)" class="text_multiple double">
            <img [ngClass]="hasExpand[10] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
            <p class="dt_texts">9 сентября -&nbsp;</p>
            <p class="te_gen"><span>свободный день, практики с монахами, сатсанг Гуру<br> Cвами Вишнудевананда
                Гири.</span> </p>
          </div>
          <div [ngClass]="hasExpand[10] ? 'expanded' : ''" class="more_info">
            <div class="text_wrapper">
              <ul>
                <li class="te_gen">«Какова бы ни была цена, как бы трудно это ни было, какие бы препятствия ни
                  возникали, никогда не пренебрегай обществом мудрых. Только сатсанг освещает дорогу жизни.
                  Сатсанг превыше всех других видов религиозной практики: благотворительности, аскетизма,
                  посещений святынь и исполнения ритуалов.» («Йога Васиштха») </li>
              </ul>
            </div>
            <div class="img_event_wrap">
              <p class="gan_wrap">
                <video autoplay loop muted playsinline src="assets/gif/9sep.mp4"></video>
                <!-- <img src="assets/Images/gan.png" alt="gan"> -->
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="plate_item">
        <div class="pl_out-wrap">
          <img class="rect" src="assets/Images/rect.png" alt="rect">
          <div (click)="expand(11)" class="text_multiple double">
            <img [ngClass]="hasExpand[11] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
            <p class="dt_texts">10-11 сентября -&nbsp;</p>
            <p class="te_gen"><span>перелет в Дели. Экскурсия в храмовый комплекс<br> Акшардхам в Дели</span></p>
          </div>
          <div [ngClass]="hasExpand[11] ? 'expanded' : ''" class="more_info">
            <div class="text_wrapper">
              <ul>
                <li class="te_gen">самостоятельное заселение в отели г.Дели </li>
                <li class="te_gen">Акшардха́м — индуистский храмовый комплекс, который вошёл в Книгу Рекордов
                  Гиннеса как самый грандиозный индуистский храм в мире! Его строительство велось с участием 7
                  тысяч мастеров из Раджастхана, Ориссы и Бенгалии. </li>
              </ul>
            </div>
            <div class="img_event_wrap">
              <p class="gan_wrap">
                <video autoplay loop muted playsinline src="assets/gif/10-11sep.mp4"></video>
                <!-- <img src="assets/Images/gan.png" alt="gan"> -->
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="g_wrap">

    </div> -->
  </div>
  <div class="level_wrap">
    <div class="header_cont">
      <div class="num">
        <p class="nmb">3</p>
        <p class="lv">этап</p>
      </div>
      <div class="h_cont">
        <p class="txt_pl">
          Программа севера завит от того, где будет встреча великих мастеров - Пайлота Бабаджи и Свами
          Вишнудевананда Гири.
          Есть два возможных направления программы.
        </p>
        <div class="dt_wrap">
          <img src="assets/Images/cald.png" alt="wrap">
          <p class="dt_txt">12 - 18 сентября</p>
        </div>
      </div>
    </div>
    <div class="plates_wrap">
      <!-- <div class="plate_item">
        <div class="pl_out-wrap">
          <img class="rect" src="assets/Images/rect.png" alt="rect">
          <div (click)="expand(12)" class="text_multiple double">
            <img [ngClass]="hasExpand[12] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
            <p class="dt_texts">12-18 сентября -&nbsp;</p>
            <p class="te_gen"><span>Переезд / перелет в Харидвар или Варанаси. Встреча<br> Cвами Вишнудевананда
                Гири и Махайоги Пайлота Бабаджи.</span></p>
          </div>
          <div [ngClass]="hasExpand[12] ? 'expanded' : ''" class="more_info">
            <div class="text_wrapper">
              <ul>
                <li class="te_gen">Программа севера завит от того, где будет встреча великих мастеров - Пайлот
                  Бабаджи и Свами Вишнудевананда Гири.
                  Есть два возможных направления программы:
                </li>
                <li class="te_gen">1) Поедем в ашрам Пайлота Бабаджи в САСАРАМЕ, и посетим так же священный
                  древнейший город в мире, любимый город Господа Шивы – Варанаси и его известный храм Каши
                  Вишванатх, где находится один из 12-ти джьотир-лингамов (самопроявленный Шивалингам).
                  Маршрут: Дели - Варанаси - Сасарам
                </li>
                <li class="te_gen">2) Поедем к Бабаджи в его ашрам в ХАРИДВАРЕ, и так же посетим святой Ришикеш,
                  считающийся мировой столицей йоги, и его особые места, посетим пещеру риши Васиштхи.
                  Маршрут: Дели - Харидвар - Ришикеш
                </li>
                <li class="te_gen">В любом случае, будем ли мы в Харидваре или в Варанаси, мы получим
                  благословения Матери Ганги.
                  И в каком бы из ашрамов великого святого Пайлота Бабаджи мы не оказались - это всегда
                  спонтанная, запредельная игра, непрерывный даршан. Само пребывание в поле двух реализованных
                  Мастеров – это большое благословение.
                </li>
              </ul>
            </div>
            <div class="img_event_wrap">
              <p class="gan_wrap">
                <video autoplay loop muted playsinline src="assets/gif/12-18sep.mp4"></video>
              </p>
            </div>
          </div>
        </div>
      </div> -->
      <p class="txt_pl">
        Вариант <b>A</b> - ХАРИДВАР – РИШИКЕШ
      </p>
      <div class="plate_item">
        <div class="pl_out-wrap">
          <img class="rect" src="assets/Images/rect.png" alt="rect">
          <div (click)="expand(13)" class="text_multiple double">
            <img [ngClass]="hasExpand[13] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
            <p class="dt_texts">12 сентября -&nbsp;</p>
            <p class="te_gen"><span>выезд из Дели в Харидвар, размещение в ашраме<br> Пайлота Бабаджи, сатсанг,
                вечерние арати на Гангe.</span></p>
          </div>
          <div [ngClass]="hasExpand[13] ? 'expanded' : ''" class="more_info">
            <div class="text_wrapper">
              <ul>
                <li class="te_gen">ХАРИДВАР (Майяпури) - один из семи священных городов индуизма, его название
                  означает «ворота к Богу», т.к. находится в том месте, где Ганга, зародившаяся в Гималаях - Земле
                  Богов - начинает течь по равнине, земле смертных и их иллюзий - "майя".
                </li>
              </ul>
              <p class="te_gen wrap">Мы разместимся в красивом и величественном ашраме знаменитого Великого
                Махайоги Пайлота Бабаджи.</p>
            </div>
            <div class="img_event_wrap">
              <p class="gan_wrap">
                <video autoplay loop muted playsinline src="assets/gif/12a.mp4"></video>
                <!-- <img src="assets/Images/gan.png" alt="gan"> -->
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="plate_item">
        <div class="pl_out-wrap">
          <img class="rect" src="assets/Images/rect.png" alt="rect">
          <div (click)="expand(14)" class="text_multiple double">
            <img [ngClass]="hasExpand[14] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
            <p class="dt_texts">13 - 14 сентября -&nbsp;</p>
            <p class="te_gen"><span>семинар «Глубинные учения традиции сиддхов»,<br> утренние практики на Ганге,
                дневные экскурсии<br></span></p>
          </div>
          <div [ngClass]="hasExpand[14] ? 'expanded' : ''" class="more_info">
            <div class="text_wrapper">
              <p class="te_gen dd"><span>по Харидвару, послеобеденные сатсанги и передачи Мастера.</span></p>
              <ul>
                <li class="te_gen">Главный храм и божество в Харидваре - это сама река Ганга, а самое священное
                  место - это главное место ритуального омовения - гхат Хар Ки Паури, что означает «Нога Господа»
                   - место, где по легенде Господь Вишну обронил несколько капель божественного нектара и оставил
                  свой след. Здесь очищают себя и своих предков от всех грехов.
                </li>
                <li class="te_gen">Так же мы посетим Храм Манса Деви и Храм Чанди Деви.
                  В совокупности с семинаром “Глубинные учения традиции сиддхов”, практиками и передачами от Гуру
                  и монахов, сатсангами Гуру все это сделает пребывание в этом священном месте одним сплошным
                  даршаном (благословением).
                </li>
              </ul>
            </div>
            <div class="img_event_wrap">
              <p class="gan_wrap">
                <video autoplay loop muted playsinline src="assets/gif/13-14a.mp4"></video>
                <!-- <img src="assets/Images/gan.png" alt="gan"> -->
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="plate_item">
        <div class="pl_out-wrap">
          <img class="rect" src="assets/Images/rect.png" alt="rect">
          <div (click)="expand(15)" class="text_multiple double">
            <img [ngClass]="hasExpand[15] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
            <p class="dt_texts">15 - 16 сентября -&nbsp;</p>
            <p class="te_gen"><span>Ришикеш. Посещение местных храмов, пещеры<br> Васиштхи, водопада. Сатсанги и
                передачи </span></p>
          </div>
          <div [ngClass]="hasExpand[15] ? 'expanded' : ''" class="more_info">
            <div class="text_wrapper">
              <p class="te_gen dd"><span>Гуру в местах силы Ришикеша.</span></p>
              <ul>
                <li class="te_gen">РИШИКЕШ — святой город, признанный столицей йоги на планете! Название
                  происходит от слова “риши” — мудрец. Его так же называют воротами в Гималаи — отсюда паломники
                  отправляются по горным святым местам.
                  Здесь невероятные по красоте предгорья Гималайских гор, здесь река Ганга покидает горные ущелья
                  и полнокровно разливается по равнине. Вдоль ее берегов находится множество ашрамов. С древних
                  времен и по сей день, здесь находят пристанище святые мудрецы, многие выдающиеся гуру и йогины.
                </li>
                <li class="te_gen">Мы посетим Пещеру Васиштхи (Вашиштх Гуфа) – очень древняя пещера, в которой
                  медитировал сам великий святой Риши Васиштха!
                  Посещение этих и других мест силы Ришикеша вместе с передачами практик и сатсангами Свами
                  Вишнудевананда Гири – может стать одной сплошной медитацией и божественным откровением для
                  каждого.
                </li>
              </ul>
            </div>
            <div class="img_event_wrap">
              <p class="gan_wrap">
                <video autoplay loop muted playsinline src="assets/gif/15-16a.mp4"></video>
                <!-- <img src="assets/Images/gan.png" alt="gan"> -->
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="plate_item">
        <div class="pl_out-wrap">
          <img class="rect" src="assets/Images/rect.png" alt="rect">
          <div (click)="expand(16)" class="text_multiple double">
            <img [ngClass]="hasExpand[16] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
            <p class="dt_texts">17 - 18 сентября -&nbsp;</p>
            <p class="te_gen"><span>заключительные сатсанг и Бандара <br>выезд в Дели</span></p>
          </div>
          <div [ngClass]="hasExpand[16] ? 'expanded' : ''" class="more_info">
            <div class="text_wrapper">
              <p style="font-style: italic;" class="te_gen dd"><span>«Какова бы ни была цена, как бы трудно это ни
                  было, какие бы препятствия ни возникали, никогда не пренебрегай обществом мудрых. Только сатсанг
                  освещает дорогу жизни. Сатсанг превыше всех других видов религиозной практики:
                  благотворительности, аскетизма, посещений святынь и исполнения ритуалов.» («Йога Васиштха»)
                </span></p>
              <ul>
                <li class="te_gen">По наставлениям священных текстов, уважение, подношение пищи святым, садху и
                  монахам удлиняет жизнь и очищает карму подносящего, считается мощным процессом накопления семян
                  белой кармы.

                </li>
                <li class="te_gen">Прасад - это Брахман, он не отличен от Брахмана, Шивы и Ишта-дэваты. Мы
                  оказываем почитание Им в форме прасада, раздавая его и вкушая.
                </li>
              </ul>
            </div>
            <div class="img_event_wrap">
              <p class="gan_wrap">
                <video autoplay loop muted playsinline src="assets/gif/17-18a.mp4"></video>
                <!-- <img src="assets/Images/gan.png" alt="gan"> -->
              </p>
            </div>
          </div>
        </div>
      </div>
      <p class="txt_pl">
        Вариант <b>Б</b> - САСАРАМ – ВАРАНАСИ
      </p>
      <div class="plate_item">
        <div class="pl_out-wrap">
          <img class="rect" src="assets/Images/rect.png" alt="rect">
          <div (click)="expand(17)" class="text_multiple double">
            <img [ngClass]="hasExpand[17] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
            <p class="dt_texts">12-13 сентября -&nbsp;</p>
            <p class="te_gen"><span>выезд из Дели в Сасарам<br> посещение ашрама Бабаджи в Сасараме</span></p>
          </div>
          <div [ngClass]="hasExpand[17] ? 'expanded' : ''" class="more_info">
            <div class="text_wrapper">
              <ul>
                <li class="te_gen">Сасарам (Сахасрам, от “Сахастрарама” - означает “тысяча рощ”) — древний
                  исторический город, история которого насчитывает тысячи лет. В доисторическую эпоху Будда прошел
                  этим путем и прожил несколько дней. Сасарам и горный хребет Каймур - это благословенная природа
                  с многочисленными впечатляющими водопадами, озерами, реками и живописными местами, и, конечно,
                  храмами.
                  Именно здесь в 1938 году родился Махайоги Пайло Бабаджи и построил один из своих ашрамов. И мы
                  посетим этот ашрам, который выглядит как огромный красивый храм с колоннами в старинном стиле.
                </li>
              </ul>
            </div>
            <div class="img_event_wrap">
              <p class="gan_wrap">
                <video autoplay loop muted playsinline src="assets/gif/12-13b.mp4"></video>
                <!-- <img src="assets/Images/gan.png" alt="gan"> -->
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="plate_item">
        <div class="pl_out-wrap">
          <img class="rect" src="assets/Images/rect.png" alt="rect">
          <div (click)="expand(18)" class="text_multiple double">
            <img [ngClass]="hasExpand[18] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
            <p class="dt_texts">14 сентября -&nbsp;</p>
            <p class="te_gen"><span>Бодхгая.</span></p>
          </div>
          <div [ngClass]="hasExpand[18] ? 'expanded' : ''" class="more_info">
            <div class="text_wrapper">
              <ul>
                <li class="te_gen">БОДХГАЯ - небольшой городок знаменитый храмовым комплексом, к которому
                  стекаются многочисленные паломники со всех стран мира. Главная достопримечательность и святыня
                  здесь – Ступа (храм) Махабодхи. Ступа расположена на месте, где принц Сиддхардха Гаутама достиг
                  просветления и стал Буддой Шакьямуни. Внутри ступы - Будда на алмазном троне.
                </li>
                <li class="te_gen">Так же местом паломничества здесь является примыкающее к храму святое дерево
                  Бодхи. Это дерево было выращено из семени дерева Джайя Шри Маха Бодхи на Шри-Ланке, которое, в
                  свою очередь, произошло от оригинального дерева Махабодхи, под которым Будда нашёл Просветление.
                </li>
              </ul>
            </div>
            <div class="img_event_wrap">
              <p class="gan_wrap">
                <video autoplay loop muted playsinline src="assets/gif/14b.mp4"></video>
                <!-- <img src="assets/Images/gan.png" alt="gan"> -->
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="plate_item">
        <div class="pl_out-wrap">
          <img class="rect" src="assets/Images/rect.png" alt="rect">
          <div (click)="expand(19)" class="text_multiple double">
            <img [ngClass]="hasExpand[19] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
            <p class="dt_texts">15 сентября -&nbsp;</p>
            <p class="te_gen"><span>Сасарам.</span></p>
          </div>
          <div [ngClass]="hasExpand[19] ? 'expanded' : ''" class="more_info">
            <div class="text_wrapper">
              <ul>
                <li class="te_gen">В Сасараме много известных религиозных и исторических мест, и мы сможем
                  посетить:
                </li>
                <li class="te_gen">Храм Маа Тара Чанди — старейший и один из самых священных храмов города,
                  посвященный Великой Богине Дурге. Этот храм считается одним из 51 - шакти-питх в Индии! Пураны
                  (святые писания) говорят, что сюда упал «правый глаз» (нетра) Супруги Махадева - Сати, когда
                  Господь Вишну своей Сударшана чакрой разрубил Ее на части. И первоначально этот древний храм
                  назывался Маа Сати.
                </li>
                <li class="te_gen">Сасарам окружен самой живописной горной красотой хребта Каймур, реками и
                  полями. Здесь более 200 водопадов, возникающих во время сезона дождей, и мы посетим водопады
                  Манджхар Кунд и Дхуан Кунд в 10 км от Сасарама
                </li>
              </ul>
            </div>
            <div class="img_event_wrap">
              <p class="gan_wrap">
                <video autoplay loop muted playsinline src="assets/gif/15b.mp4"></video>
                <!-- <img src="assets/Images/gan.png" alt="gan"> -->
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="plate_item">
        <div class="pl_out-wrap">
          <img class="rect" src="assets/Images/rect.png" alt="rect">
          <div (click)="expand(20)" class="text_multiple double">
            <img [ngClass]="hasExpand[20] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
            <p class="dt_texts">16 - 17 сентября -&nbsp;</p>
            <p class="te_gen"><span>Варанаси: экскурсии по храмам (Каши Вишванатх),<br> прогулка на лодке по
                Ганге, вечерние арати.</span></p>
          </div>
          <div [ngClass]="hasExpand[20] ? 'expanded' : ''" class="more_info">
            <div class="text_wrapper">
              <ul>
                <li class="te_gen">ВАРАНАСИ (Каши, Бенарес) был основан богом Шивой около 5000 лет назад, точная
                  дата основания неизвестна, но он считается одним из древнейших непрерывно существующих городов
                  мира. В одном их стихов Сканда-пураны бог Шива говорит: «Три мира образуют один мой город и мой
                  королевский дворец в нём».

                </li>
                <li class="te_gen">В индуизме это одно из главных мест почитания Шивы Махадева (здесь более 1000
                  его храмов) и Ганги. Мы посетим самый известный храм Шивы - Каши Вишванатх, что означает
                  «Господин Вселенной» и сможем совершить поклонение одному и 12 джьотир-лингамов (самопроявленный
                  Шивалингам), который находится именно здесь!
                </li>
                <li class="te_gen">Мы поплаваем на лодках по священной Ганге, полюбуемся впечатляющим видом
                  множества храмов, их тонких башен и главного вечернего мистического завораживающего действа –
                  огненный ритуал поклонения Ганге – вечернее арати.
                </li>
              </ul>
              <p style="font-style: italic;" class="te_gen dd"><span>«Варанаси старше, чем история, старше, чем
                  традиция, старше, чем даже легенда, и выглядит, к тому же, в два раза старше, чем все они,
                  вместе взятые!» – Марк Твен.
                </span></p>
            </div>
            <div class="img_event_wrap">
              <p class="gan_wrap">
                <video autoplay loop muted playsinline src="assets/gif/16-17b.mp4"></video>
                <!-- <img src="assets/Images/gan.png" alt="gan"> -->
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="plate_item">
        <div class="pl_out-wrap">
          <img class="rect" src="assets/Images/rect.png" alt="rect">
          <div (click)="expand(21)" class="text_multiple double">
            <img [ngClass]="hasExpand[21] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
            <p class="dt_texts">18 сентября -&nbsp;</p>
            <p class="te_gen"><span>выезд в Дели.</span></p>
          </div>
          <!-- <div [ngClass]="hasExpand[21] ? 'expanded' : ''" class="more_info">
          </div> -->
        </div>
      </div>
    </div>
    <!-- <div class="g_wrap">

    </div> -->
  </div>