<div class="main-wrapper">
  <div class="wrapper main">
    <div class="header">
      <div class="head_wrap">
        <div class="head_in">
          <div class="header_wrapper">
            <div class="menu_wrap">
              <div class="w_wrap">
                <p class="text_gen" (click)="scrollTo('div-about-guru')">О Гуру</p>
                <p class="text_gen" (click)="scrollTo('div-about-program')">Программа</p>
                <!-- <p class="text_gen" (click)="scrollTo('div-qa')">Вопросы и ответы</p> -->
                <p class="text_gen" (click)="scrollTo('div-contacts')">Контакты</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="head_content">
      <div>
        <p class="main_title_text">Паломнический тур в Индию</p>
        <p class="text_secondary">
          с просветлённым мастером традиции<br>
          сиддхов<span> и монахами по святым местам<br>
            севера и юга Индии</span>
        </p>
      </div>
      <p class="event_dates">30.08 - 18.09<br> 2022</p>
      <p class="event_dates no_mob">30.08 - 18.09 2022</p>
      <div class="list_items">
        <div class="list-item">
          <p class="img-w">
            <img src="assets/Images/figure.png" alt="om">
          </p>
          <p class="list_text">3 <span class="first">этапа</span><span class="second"> духовного путешествия</span></p>
        </div>
        <div class="list-item">
          <p class="img-w">
            <img src="assets/Images/figure.png" alt="om">
          </p>
          <p class="list_text"><span class="first">Посвящение</span><span class="second"> в традицию<br>
              и </span><span class="first">получение инициации</span></p>
        </div>
        <div class="list-item">
          <p class="img-w">
            <img src="assets/Images/figure.png" alt="om">
          </p>
          <p class="list_text"><span class="first">Медитации </span><span class="second">и</span><span class="first">
              практики </span><br><span class="second">каждый день</span></p>
        </div>
      </div>
      <div class="bottom_section">
        <div class="buttons_wrap">
          <button class="btn_gen s">Оставить заявку</button>
          <button class="btn_gen">Программа тура</button>
        </div>
        <p class="lamp">
          <img src="assets/Images/lamp.png" alt="lamp">
        </p>
        <p class="g_title">Гуру Cвами<br>
          Вишнудевананда Гири</p>
      </div>
    </div>
  </div>
  <div class="bl_second">
    <div class="wrapper">
      <div class="m_wrapper">
        <div class="s_wrap">
          <div class="block_master left">
            <div class="m_title">
              <p class="m_top f"><span></span> Знакомство</p>
              <p class="m_top"> с мастером <span class="f"></span></p>
            </div>
            <div class="video_master">
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/cOQHsiHk7MU" frameborder="0"
                allowfullscreen class="item-iframe"></iframe>
            </div>
          </div>
          <div class="block_master right">
            <div class="about_master">
              <p class="m_name">
                Шротрия Брахмаништха Анант<br>
                Шри Вибхушит Панч Дашанам Джуна Акхара <br>
                Махамандалешвар Свами Вишнудевананда <br>
                Гири
              </p>
            </div>
            <div class="about_master sc">
              <p class="r_dl">
                <img src="assets/Images/1.png" alt="l">
              </p>
              <p class="about_m">
                Всемирно известный, утвержденный в Брахмане,<br>
                обладающий безграничными силами, Владыка<br> Вселенской
                мандалы, тот, кто достигает<br> блаженства через Вишну,
                поднимаясь на самую<br> вершину за пределами всех пределов.
              </p>
              <p class="r_dl">
                <img src="assets/Images/2.png" alt="r">
              </p>
            </div>
            <div class="about_master">
              <p class="m_d">
                Духовный учитель (имеющий полномочия инициировать в санньясу) в традиции адвайта-веданты и йоги, садху,
                реализованный мастер-джняни в линии адвайта-веданты, философ, теолог, писатель, паломник-путешественник,
                имеющий учеников монахов и мирян по всему миру – в России, Украине, Белоруссии, Европе, США, Индии,
                Непале
              </p>
            </div>
            <div class="about_master">
              <p class="divider">
                <img src="assets/Images/figure_.png" alt="divider">
              </p>
              <p class="ab_pilgrim">
                "Паломничество – это отражение в земном мире духовного пути. Снаружи мы идём в паломничество. Внутри –
                мы
                идём
                к
                Богу. Мы едем контактировать с высокими божественными существами. Мы едем очищать себя, открывать свою
                душу.
                Мы
                едем получать благословения на будущую жизнь, на то, что меняет нашу жизнь."
              </p>
              <p class="divider">
                <img src="assets/Images/figure_.png" alt="divider">
              </p>
            </div>
            <p class="m_nama">Свами Вишнудевананда Гири</p>
          </div>
        </div>
        <div class="bottom_social">
          <p class="more">Больше информации на страницах:</p>
          <p class="more"><img class="soc_l" src="assets/Images/insta.png" alt="instagram"> swami_vishnudevananda_giri
          </p>
          <p class="more"><img class="soc_l" src="assets/Images/telega.png" alt="telegram"> swami_vishnudevananda_giri
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="bl_height">
    <div class="wrapper">
      <div class="bh_wrapper">
        <p class="m_top"><span></span>Этапы и программа тура<span class="f"></span></p>
        <div class="level_wrap">
          <div class="header_cont">
            <div class="num">
              <p class="nmb">1</p>
              <p class="lv">этап</p>
            </div>
            <div class="h_cont">
              <p class="txt_pl">Юг Индии, г. Омалур (Авадхута сиддха ашрам)</p>
              <div class="dt_wrap">
                <img src="assets/Images/cald.png" alt="wrap">
                <p class="dt_txt">30 августа - 06 сентября</p>
              </div>
            </div>
          </div>
          <div class="plates_wrap">
            <div class="plate_item">
              <div class="pl_out-wrap">
                <img class="rect" src="assets/Images/rect.png" alt="rect">
                <div (click)="expand(1)" class="text_multiple">
                  <img [ngClass]="firstBlock ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
                  <p class="dt_texts">30 августа -&nbsp;</p>
                  <p class="te_gen"><span>приезд Гуру, монахов и гостей в «Авадхута сиддха ашрам»</span></p>
                </div>
                <div *ngIf="firstBlock" class="more_info">
                  <div class="text_wrapper">
                    <ul>
                      <li class="te_gen">Заезд, размещение; заселение гостей в отели поблизости.</li>
                    </ul>
                  </div>
                  <div class="img_event_wrap">
                    <p class="gan_wrap">
                      <video autoplay loop muted playsinline src="assets/Images/1.mp4"></video>
                      <!-- <img src="assets/Images/gan.png" alt="gan"> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="plate_item">
              <div class="pl_out-wrap">
                <img class="rect" src="assets/Images/rect.png" alt="rect">
                <div (click)="expand(2)" class="text_multiple">
                  <img [ngClass]="secondBlock ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
                  <p class="dt_texts">31 августа -&nbsp;</p>
                  <p class="te_gen"></p>
                </div>
                <div *ngIf="secondBlock" class="more_info">
                  <div class="text_wrapper">
                    <ul>
                      <li class="te_gen"></li>
                    </ul>
                  </div>
                  <div class="img_event_wrap">
                    <p class="gan_wrap">
                      <video autoplay loop muted playsinline src="assets/Images/1.mp4"></video>
                      <!-- <img src="assets/Images/gan.png" alt="gan"> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="plate_item">
              <div class="pl_out-wrap">
                <img class="rect" src="assets/Images/rect.png" alt="rect">
                <div (click)="expand(3)" class="text_multiple">
                  <img [ngClass]="thirdBlock ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
                  <p class="dt_texts">1 сентября -&nbsp;</p>
                  <p class="te_gen"><span>День передачи Учения. Сарасвати-хома.</span></p>
                </div>
                <div *ngIf="thirdBlock" class="more_info">
                  <div class="text_wrapper">
                    <ul>
                      <li class="te_gen">Огненный ритуал (хома) энергии Истинной Мудрости – Сарасвати.</li>
                    </ul>
                    <p class="te_gen wrap">САРАСВАТИ – Богиня Мудрости и речи, Вместилище духовных знаний, а так же
                      искусств, наук, ремесел и мастерства, олицетворение эстетического разума. Это творческая энергия
                      Бога-Творца и представляет могущество и интеллект, без которых невозможно упорядоченное творение.
                      Призываем энергии Сарасвати для раскрытия мудрости, Истинного знания, ясности ума, творчества в
                      нашем духовном Пути и материальной жизни!</p>
                    <p class="te_gen wrap">Передачи в практики от Гуру, махантов, монахов.</p>
                  </div>
                  <div class="img_event_wrap">
                    <p class="gan_wrap">
                      <video autoplay loop muted playsinline src="assets/Images/1.mp4"></video>
                      <!-- <img src="assets/Images/gan.png" alt="gan"> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="plate_item">
              <div class="pl_out-wrap">
                <img class="rect" src="assets/Images/rect.png" alt="rect">
                <div (click)="expand(4)" class="text_multiple">
                  <img [ngClass]="fourthBlock ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
                  <p class="dt_texts">2 сентября -&nbsp;</p>
                  <p class="te_gen"><span>сакральный ритуал открытия Храма Свами Брахмананды.</span></p>
                </div>
                <div *ngIf="fourthBlock" class="more_info">
                  <div class="text_wrapper">
                    <ul>
                      <li class="te_gen">Свами Брахмананда – парам гуру нашей школы, т.е. гуру нашего Гуру, наш
                        “духовный дедушка”.</li>
                    </ul>
                    <p class="te_gen wrap">
                      Открытие его храма является одной из главных причин этой поездки и важность этого события
                      невозможно переоценить: будет открыто ещё одно место паломничества и прямого нисхождения
                      просветляющей силы Ануграха шакти на Земле! Открытие храма - это огромный подарок, великая
                      милость для людей, ниспосылаемая богами. Это мощное очищение кармы многих воплощений, это
                      накопление благой кармы, ведущей душу к Освобождению от исконного неведения и страданий, это
                      сильная поддержка души на Пути к Богу</p>
                  </div>
                  <div class="img_event_wrap">
                    <p class="gan_wrap">
                      <video autoplay loop muted playsinline src="assets/Images/1.mp4"></video>
                      <!-- <img src="assets/Images/gan.png" alt="gan"> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="plate_item">
              <div class="pl_out-wrap">
                <img class="rect" src="assets/Images/rect.png" alt="rect">
                <div (click)="expand(5)" class="text_multiple double">
                  <img [ngClass]="fifthBlock ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
                  <p class="dt_texts">3 сентября -&nbsp;</p>
                  <p class="te_gen"><span>встреча с преданными свами Брахмананды: Вену Гопалом,<br> Карпура Сундара Пандианом.</span>
                  </p>
                </div>
                <div *ngIf="fifthBlock" class="more_info">
                  <div class="text_wrapper">
                    <ul>
                      <li class="te_gen">Свами Брахмананда Шри Шива Прабхакара Сиддха Йоги Парамахамса – это
                        величайший авадхута, ученик мастера традиции сиддхов – Шри Памбатти.</li>
                    </ul>
                    <p class="te_gen wrap">Свамиджи очень хорошо известен в индийском штате Керала, где имеет множество
                      почитателей и свидетелей его чудес. Он жил под разными именами, не старея, много эпох во многих
                      местах Индии: как на севере, так и на юге. Являясь мастером тайной техники паракайя-правешана,
                      он неоднократно вселялся в тела различных людей.</p>
                    <p class="te_gen wrap">Нам выпадет прекрасная возможность встретиться с его преданными, которые были
                      свидетелями некоторых эпизодов жизни великого святого.</p>
                  </div>
                  <div class="img_event_wrap">
                    <p class="gan_wrap">
                      <video autoplay loop muted playsinline src="assets/Images/1.mp4"></video>
                      <!-- <img src="assets/Images/gan.png" alt="gan"> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="plate_item">
              <div class="pl_out-wrap">
                <img class="rect" src="assets/Images/rect.png" alt="rect">
                <div (click)="expand(6)" class="text_multiple double">
                  <img [ngClass]="sixBlock ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
                  <p class="dt_texts">4-5 сентября -&nbsp;</p>
                  <p class="te_gen"><span>семинар с Гуру Cвами Вишнудевананда Гири -<br> «Блаженство энергии и Ясный Свет».</span>
                  </p>
                </div>
                <div *ngIf="sixBlock" class="more_info">
                  <div class="text_wrapper">
                    <p class="te_gen wrap">Прямые передачи в практики и бесценные наставления Мастера, усердно практикуя
                      которые в дальнейшем, каждый сможет открыть блаженство энергии и Ясный Свет.</p>
                  </div>
                  <div class="img_event_wrap">
                    <p class="gan_wrap">
                      <video autoplay loop muted playsinline src="assets/Images/1.mp4"></video>
                      <!-- <img src="assets/Images/gan.png" alt="gan"> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="plate_item">
              <div class="pl_out-wrap">
                <img class="rect" src="assets/Images/rect.png" alt="rect">
                <div (click)="expand(7)" class="text_multiple double">
                  <img [ngClass]="seventhBlock ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
                  <p class="dt_texts">6 сентября 12-00 -&nbsp;</p>
                  <p class="te_gen"><span>окончание семинара, экскурсии по местным храмам<br>
                    и переезд на океан в Варкалу.</span></p>
                </div>
                <div *ngIf="seventhBlock" class="more_info">
                  <div class="text_wrapper">
                    <p class="te_gen wrap">Экскурсии по местным храмам: Аранмула темпл и Ченганнур Махадева темпл:</p>
                    <p class="te_gen wrap"><span>Аранмула темпл</span> - один из самых важных храмов Кришны в Керале и одна из пяти
                      древних святынь в районе Ченганнур в Керале, связанная с легендой Махабхараты, где, как полагают,
                      пять Пандавов построили по одному храму каждый; Аранмула построена принцем Пандавов Арджуной.
                      Здесь хранится тханка анки, золотое одеяние Айяппана, подаренное королем Траванкора.
                      Аранмула также известна гонками на змеиных лодках, которые проводятся каждый год во время Онама и
                      связаны с легендами Махабхараты.</p>
                    <p class="te_gen wrap"><span>Храм Ченганнур Махадевар</span> — один из старейших и известных храмов,
                      расположенный
                      в районе Алаппужа. Это обширный храмовый комплекс с круглым святилищем. Господь Шива и Парвати
                      Деви
                      являются главными украшениями этого храма. В отличие от других храмов, в этом храме есть две
                      главные
                      святыни. Главная святыня коническая, покрытая медью. Главный идол Деви сделан из сплава пяти
                      металлов (ПАНЧАЛОГАМ). Шивалингам покрыт золотой пластиной с изображением Ардханаришвары — или
                      Шива-Шакти, проявление Шивы.</p>
                  </div>
                  <div class="img_event_wrap">
                    <p class="gan_wrap">
                      <video autoplay loop muted playsinline src="assets/Images/1.mp4"></video>
                      <!-- <img src="assets/Images/gan.png" alt="gan"> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="g_wrap">
            <button class="btn_gen s tr">Оставить заявку на тур</button>
          </div>
        </div>
        <div class="level_wrap">
          <div class="header_cont">
            <div class="num">
              <p class="nmb">2</p>
              <p class="lv">этап</p>
            </div>
            <div class="h_cont">
              <p class="txt_pl">ВАРКАЛА (берег моря) -
                Инициации - наречение духовным именем</p>
              <div class="dt_wrap">
                <img src="assets/Images/cald.png" alt="wrap">
                <p class="dt_txt">6 - 10 сентября</p>
              </div>
            </div>
          </div>
          <div class="plates_wrap">
            <div class="plate_item">
              <div class="pl_out-wrap">
                <img class="rect" src="assets/Images/rect.png" alt="rect">
                <div (click)="expand(3)" class="text_multiple">
                  <img [ngClass]="thirdBlock ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
                  <p class="dt_texts">1 сентября -&nbsp;</p>
                  <p class="te_gen">День передачи Учения. Сарасвати-хома.</p>
                </div>
                <div *ngIf="thirdBlock" class="more_info">
                  <div class="text_wrapper">
                    <ul>
                      <li class="te_gen">Празднование Ганеша-чатуртхи и Шрипада-джаянти!</li>
                      <li class="te_gen">Хома (огненный ритуал) Ганеше или Даттатрейе</li>
                      <li class="te_gen">Большой Символ Веры - Церемония вступления в
                        Традицию Сатсанги Гуру</li>
                      <li class="te_gen">1 сентября – День передачи Учения Сарасвати-хома,
                        передачи в практики от Гуру и монахов</li>
                      <li class="te_gen">Священный ритуал открытия Храма Свами Брахмананды!</li>
                      <li class="te_gen">Семинар с Гуру свами Вишнудевананда Гири -
                        «Блаженство энергии и Ясный Свет»</li>
                      <li class="te_gen">Встреча с преданными свами Брахмананды</li>
                      <li class="te_gen">Экскурсии по местным храмам переезд на море</li>
                    </ul>
                    <p class="te_gen wrap">КАЖДЫЙ ДЕНЬ!: медитации и практика на святом месте Маха-самадхи Свами
                      Брахмананды на Холме Тигра.</p>
                  </div>
                  <div class="img_event_wrap">
                    <p class="gan_wrap">
                      <video autoplay loop muted playsinline src="assets/Images/1.mp4"></video>
                      <!-- <img src="assets/Images/gan.png" alt="gan"> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="g_wrap">

          </div>
        </div>
        <div class="level_wrap">
          <div class="header_cont">
            <div class="num">
              <p class="nmb">3</p>
              <p class="lv">этап</p>
            </div>
            <div class="h_cont">
              <p class="txt_pl">Встреча Свами Вишнудевананда Гири
                и Махайоги Пайлота Бабаджи на севере Индии
                в Харидваре</p>
              <div class="dt_wrap">
                <img src="assets/Images/cald.png" alt="wrap">
                <p class="dt_txt">11 - 17 сентября</p>
              </div>
            </div>
          </div>
          <div class="plates_wrap">
            <div class="plate_item">
              <div class="pl_out-wrap">
                <img class="rect" src="assets/Images/rect.png" alt="rect">
                <div (click)="expand(3)" class="text_multiple">
                  <img [ngClass]="thirdBlock ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
                  <p class="dt_texts">1 сентября -&nbsp;</p>
                  <p class="te_gen">День передачи Учения. Сарасвати-хома.</p>
                </div>
                <div *ngIf="thirdBlock" class="more_info">
                  <div class="text_wrapper">
                    <ul>
                      <li class="te_gen">Празднование Ганеша-чатуртхи и Шрипада-джаянти!</li>
                      <li class="te_gen">Хома (огненный ритуал) Ганеше или Даттатрейе</li>
                      <li class="te_gen">Большой Символ Веры - Церемония вступления в
                        Традицию Сатсанги Гуру</li>
                      <li class="te_gen">1 сентября – День передачи Учения Сарасвати-хома,
                        передачи в практики от Гуру и монахов</li>
                      <li class="te_gen">Священный ритуал открытия Храма Свами Брахмананды!</li>
                      <li class="te_gen">Семинар с Гуру свами Вишнудевананда Гири -
                        «Блаженство энергии и Ясный Свет»</li>
                      <li class="te_gen">Встреча с преданными свами Брахмананды</li>
                      <li class="te_gen">Экскурсии по местным храмам переезд на море</li>
                    </ul>
                    <p class="te_gen wrap">КАЖДЫЙ ДЕНЬ!: медитации и практика на святом месте Маха-самадхи Свами
                      Брахмананды на Холме Тигра.</p>
                  </div>
                  <div class="img_event_wrap">
                    <p class="gan_wrap">
                      <video autoplay loop muted playsinline src="assets/Images/1.mp4"></video>
                      <!-- <img src="assets/Images/gan.png" alt="gan"> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="g_wrap">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bl_second">
    <div class="wrapper">
      <div class="carousel_wrap">
        <p class="m_top"><span></span>Фотогаллерея по туру<span class="f"></span></p>
        <div class="tour_slide-wrap">
          <p (click)="previous()" class="arrow_w l">
            <img src="assets/Images/left.png" alt="arrow">
          </p>
          <div class="slider_wrap">
            <div class="sl_main-wrap">
              <div class="n_sl first_sl">
                <img [src]=slides[first].path alt="pic">
              </div>
              <div class="n_sl middle_sl">
                <img [src]=slides[middle].path alt="pic">
              </div>
              <div class="n_sl last_sl">
                <img [src]=slides[last].path alt="pic">
              </div>
            </div>
          </div>
          <p (click)="next()" class="arrow_w r">
            <img src="assets/Images/right.png" alt="arrow">
          </p>
        </div>
        <p class="gallery_t">Присоединиться к туру можно на любом из этапов!</p>
      </div>
    </div>
  </div>
  <div class="program-forum">
    <div class="wrapper">
      <div class="registration-form flex flex-col">
        <div class="top_wrap">
          <p class="form_t">Отправить заявку на тур</p>
          <p class="divider_form">
            <img src="assets/Images/dividerfrm.png" alt="divider">
          </p>
        </div>
        <div class="form-registration-form flex justify-between" [formGroup]="form" id="registration-form">
          <input type="text" class="input-form-gold" placeholder="имя" formControlName="name" />
          <input type="email" class="input-form-gold" placeholder="email" formControlName="email" />
          <input type="text" class="input-form-gold" placeholder="телефон" formControlName="phone" />
        </div>
        <div class="registration-form-button flex justify-center items-center">
          <button class="btn_gen s reg" (click)="sendRegistrationData()" [disabled]="!form.valid"
            [ngClass]="!form.valid ? 'disabled' : 'enabled'">Регистрация</button>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper no-pad">
    <div class="support">
      <div class="head-section_wrap">
        <div class="sup_line-wrap">
          <div class="ln_wr">
            <p class="sup_text">ПОДДЕРЖАТЬ ФОНД ПАЛОМНИЧЕСТВА для Гуру и монахов</p>
          </div>
        </div>
      </div>
      <div class="req_wrap">
        <div class="tw_wrap fst">
          <div class="bk_wrap f">
            <p class="b-im_wrap">
              <img src="assets/Images/csob.png" alt="csob">
            </p>
            <p class="b-txt_wrap">
              ČSOB банк Чехии<br>
              5168 3421 1130 2082 VLADYSLAV MORHUNENKO<br>
              Счёт: 305066270/0300<br>
              IBAN: CZ9603000000000305066270<br>
              BIC (SWIFT) CEKOCZPP
            </p>
            <img class="divider_sc" src="assets/Images/divider.png" alt="line">
          </div>
          <div class="bk_wrap s">
            <p class="b-im_wrap">
              <img src="assets/Images/reifeisen.png" alt="raiffeisen">
            </p>
            <p class="b-txt_wrap">
              Raiffeisen Bank<br>
              5168 7207 9303 0214<br>
              VALERII M.<br>
              Счет - 7114761002/5500
            </p>
            <img class="divider_sc sc" src="assets/Images/divider.png" alt="line">
          </div>
        </div>
        <div class="tw_wrap scd">
          <div class="bk_wrap">
            <p class="b-im_wrap">
              <img src="assets/Images/tinkoff.png" alt="tinkoff">
            </p>
            <p class="b-txt_wrap">
              Тинькофф<br>
              рубли, доллары, евро<br>
              4377 7237 7959 1126<br>
              SVETLANA RAMAEVA
            </p>
            <img class="divider_sc" src="assets/Images/divider.png" alt="line">
          </div>
          <div class="bk_wrap">
            <p class="b-im_wrap">
              <img src="assets/Images/privat.png" alt="privat">
            </p>
            <p class="b-txt_wrap">
              ПриватБанк (Visa)<br>
              4149 6090 1133 2550<br>
              MOLOFIEIEVA ALONA
            </p>
            <img class="divider_sc sc" src="assets/Images/divider.png" alt="line">
          </div>
        </div>
        <div class="tw_wrap last">
          <div class="bk_wrap">
            <p class="b-im_wrap">
              <img src="assets/Images/paypal.png" alt="paypal">
            </p>
            <p class="b-txt_wrap">
              guru.swamivishnudevanandagiri@gmail.com
            </p>
            <img class="divider_sc" src="assets/Images/divider.png" alt="line">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
