<div class="main-wrapper">
  <div class="wrapper main">
    <div class="header">
      <div class="head_wrap">
        <div class="head_in">
          <div class="dat_wrap">
            <!-- <p class="d_ft">30.08 - 18.09</p>
            <p class="d_ft s">2022</p> -->
            <p class="d_ft">11.02 - 20.02</p>
            <p class="d_ft s">2023</p>
          </div>
          <div class="header_wrapper">
            <div class="menu_wrap">
              <div class="w_wrap">
                <p class="text_gen" (click)="scrollTo('about_guru')">О Гуру</p>
                <p class="text_gen" (click)="scrollTo('about_program')">Программа</p>
                <!-- <p class="text_gen" (click)="scrollTo('div-qa')">Вопросы и ответы</p> -->
                <p class="text_gen" [routerLink]="['/contacts']">Контакты</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="head_content">
      <div>
        <p class="main_title_text">Семинар и Махашиваратри в Турции</p>
        <p class="text_secondary">
          с просветлённым мастером традиции<br>
          сиддхов<span> и монахами на берегу моря<br>
          </span>
        </p>
      </div>
      <p class="event_dates no_mob">11-20 февраля 2023</p>
      <div class="list_items">
        <div class="list-item">
          <p class="img-w">
            <img src="assets/Images/figure.png" alt="om">
          </p>
          <p class="list_text"><span class="second"> Семинар и передачи Мастера и старших монахов</span></p>
        </div>
        <div class="list-item">
          <p class="img-w">
            <img src="assets/Images/figure.png" alt="om">
          </p>
          <p class="list_text"><span class="first">Посвящение</span><span class="second"> в традицию<br>
              и </span><span class="first">получение инициации</span></p>
        </div>
        <div class="list-item">
          <p class="img-w">
            <img src="assets/Images/figure.png" alt="om">
          </p>
          <p class="list_text"><span class="first">Медитации </span><span class="second">и</span><span class="first">
              практики </span><br><span class="second">каждый день</span></p>
        </div>
        <div class="list-item">
          <p class="img-w">
            <img src="assets/Images/figure.png" alt="om">
          </p>
          <p class="list_text"><span class="second">Великая ночь Шивы – <br> Махашиваратри 18-19 февраля</span></p>
        </div>
      </div>
      <div class="bottom_section">
        <div class="buttons_wrap">
          <button (click)="scrollTo('apply')" class="btn_gen s">Оставить заявку</button>
          <button (click)="scrollTo('about_program')" class="btn_gen">Программа</button>
        </div>
        <p class="lamp">
          <img src="assets/Images/lamp.png" alt="lamp">
        </p>
        <p class="g_title">Гуру Cвами<br>
          Вишнудевананда Гири</p>
      </div>
    </div>
  </div>
  <div class="bl_second">
    <div id="about_guru" class="wrapper">
      <div class="m_wrapper">
        <div class="s_wrap">
          <div class="block_master left">
            <!-- <div class="m_title">
              <p class="m_top f"><span></span> Знакомство</p>
              <p class="m_top"> с мастером <span class="f"></span></p>
            </div> -->
            <div class="video_master">
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/dw69XWD-h8k" frameborder="0"
                allowfullscreen class="item-iframe"></iframe>
            </div>
            <div class="about_master">
              <p class="divider">
                <img src="assets/Images/figure_.png" alt="divider">
              </p>
              <p class="ab_pilgrim">
                Махашиваратри – мистическая Ночь, открывающая дверь Неизведанного...
                Считается, что всенощное бдение, искреннее поклонение Шиве всю ночь освобождает ото всех грехов и дает
                милость Махадева в виде освобождения от цикла перерождений.
                Любая медитация в эту ночь во много раз сильнее обычной, таков завет Шивы: «Это пора, когда добродетель
                поклонения Мне возрастает подобно океанскому прибою на рассвете». (МахаШива Пурана)

              </p>
              <p class="divider">
                <img src="assets/Images/figure_.png" alt="divider">
              </p>
            </div>
            <p class="m_nama">Свами Вишнудевананда Гири</p>
          </div>
          <div class="block_master right">
            <div class="m_title">
              <p class="m_top fk"><span></span> Знакомство с мастером <span class="fd"></span></p>
            </div>
            <div class="about_master">
              <p class="m_name">
                Шротрия Брахмаништха Анант<br>
                Шри Вибхушит Панч Дашанам Джуна Акхара <br>
                Махамандалешвар Свами Вишнудевананда <br>
                Гири
              </p>
            </div>
            <div class="about_master sc">
              <p class="r_dl">
                <img src="assets/Images/1.png" alt="l">
              </p>
              <p class="about_m">
                Всемирно известный, утвержденный в Брахмане,<br>
                обладающий безграничными силами, Владыка<br> Вселенской
                мандалы, тот, кто достигает<br> блаженства через Вишну,
                поднимаясь на самую<br> вершину за пределами всех пределов.
              </p>
              <p class="r_dl">
                <img src="assets/Images/2.png" alt="r">
              </p>
            </div>
            <div class="about_master">
              <p class="m_d">
                Духовный учитель (имеющий полномочия инициировать в санньясу) в традиции адвайта-веданты и йоги, садху,
                реализованный мастер-джняни в линии адвайта-веданты, философ, теолог, писатель, паломник-путешественник,
                имеющий учеников монахов и мирян по всему миру – в России, Украине, Белоруссии, Европе, США, Индии,
                Непале
              </p>
            </div>
            <div class="about_master">
              <p class="divider">
                <img src="assets/Images/figure_.png" alt="divider">
              </p>
            </div>
          </div>
        </div>
        <div class="bottom_social">
          <p class="more">Больше информации на страницах:</p>
          <div class="soc_w">
            <p (click)="goToURl('https://instagram.com/swami_vishnudevananda_giri')" class="more"><img class="soc_l"
                src="assets/Images/insta.png" alt="instagram"> swami_vishnudevananda_giri
            </p>
            <p (click)="goToURl('https://t.me/swami_vishnudevananda_giri')" class="more"><img class="soc_l"
                src="assets/Images/telega.png" alt="telegram"> swami_vishnudevananda_giri
            </p>
            <p (click)="goToURl('https://www.youtube.com/c/СвамиВишнудеванандагири')" class="more"><img class="soc_l"
                src="assets/Images/yt.png" alt="tube"> Свами Вишнудевананда Гири
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bl_height">
    <div id="about_program" class="wrapper">
      <div class="bh_wrapper">
        <p class="m_top"><span></span>Программа<span class="fd"></span></p>
        <div class="level_wrap">
          <div class="header_cont">
            <!-- <div class="num">
              <p class="nmb">1</p>
              <p class="lv">этап</p>
            </div> -->
            <div class="h_cont">
              <p class="txt_pl">Великая ночь Шивы – Махашиваратри 18-19 февраля </p>
              <div class="dt_wrap">
                <img src="assets/Images/cald.png" alt="wrap">
                <p class="dt_txt">30 августа - 06 сентября</p>
              </div>
            </div>
          </div>
          <div class="plates_wrap">
            <div class="plate_item">
              <div class="pl_out-wrap">
                <img class="rect" src="assets/Images/rect.png" alt="rect">
                <div (click)="expand(1)" class="text_multiple">
                  <img [ngClass]="hasExpand[1] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
                  <p class="dt_texts">11 февраля -&nbsp;</p>
                  <p class="te_gen"><span> приезд, заселение и размещение</span></p>
                </div>
                <div [ngClass]="hasExpand[1] ? 'expanded' : ''" class="more_info">
                  <div class="text_wrapper">
                    <ul>
                      <li class="te_gen">Заезд, размещение; заселение гостей в отели поблизости.</li>
                    </ul>
                  </div>
                  <div class="img_event_wrap">
                    <p class="gan_wrap">
                      <video autoplay loop muted playsinline src="assets/gif/1102.mp4"></video>
                      <!-- <img src="assets/Images/gan.png" alt="gan"> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="plate_item">
              <div class="pl_out-wrap">
                <img class="rect" src="assets/Images/rect.png" alt="rect">
                <div (click)="expand(2)" class="text_multiple double">
                  <img [ngClass]="hasExpand[2] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
                  <p class="dt_texts">12 - 16 февраля-&nbsp;</p>
                  <p class="te_gen"><span> 5-дневный семинар с Гуру "Глубинные практики Ануттара-тантры"
                    </span></p>
                </div>
                <div [ngClass]="hasExpand[2] ? 'expanded' : ''" class="more_info">
                  <div class="text_wrapper">
                    <ul>
                      <li class="te_gen">Уникальная возможность получить прямые передачи в глубокие практики и бесценные
                        наставления Мастера в традиции Ануттара-тантры сиддхов. </li>
                      <li class="te_gen"> «Какова бы ни была цена, как бы трудно это ни было, какие бы препятствия ни
                        возникали, никогда не пренебрегай обществом мудрых. Только сатсанг освещает дорогу жизни.
                        Сатсанг превыше всех других видов религиозной практики: благотворительности, аскетизма,
                        посещений святынь и исполнения ритуалов.» («Йога Васиштха»)</li>
                      <!-- <li class="te_gen">В этот день отмечается так же день явления аватара Господа Даттатрейи в эту
                        Кали югу - Шрипада Шри Валабхи! В двойной праздник сила благословений святых удваивается!
                        Проведение огненных ритуалов также дарует бесчисленные благословения и заслуги! И мы будет
                        посвящать их благу всех живых существ.</li>
                      <li class="te_gen">И в этот дважды благословенный день в этом году проводится инициация БОЛЬШОГО
                        СИМВОЛА ВЕРЫ.
                        Самое главное событие в жизни человека – это принятие веры, духовного пути и школы. Эта
                        инициация откроет врата в Дхарму всем начинающим духовным искателям. Принимая Символ Веры, мы
                        устанавливаем связь с божествами традиции, святыми и высказываем свое намерение преданности,
                        любви к Богу и святым. Это меняет линию судьбы, направляя ее на путь духовного совершенствования
                        и Истины.
                        Большой Символ Веры можно пройти повторно для обновления, укрепления и очищения самайной связи.
                      </li>
                      <li class="te_gen">Ежедневные Сатсанги Гуру свами Вишнудевананда Гири.
                        «Какова бы ни была цена, как бы трудно это ни было, какие бы препятствия ни возникали, никогда
                        не пренебрегай обществом мудрых. Только сатсанг освещает дорогу жизни. Сатсанг превыше всех
                        других видов религиозной практики: благотворительности, аскетизма, посещений святынь и
                        исполнения ритуалов.» («Йога Васиштха»)
                      </li> -->
                    </ul>
                  </div>
                  <div class="img_event_wrap">
                    <p class="gan_wrap">
                      <video autoplay loop muted playsinline src="assets/gif/1216.mp4"></video>
                      <!-- <img src="assets/Images/gan.png" alt="gan"> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="plate_item">
              <div class="pl_out-wrap">
                <img class="rect" src="assets/Images/rect.png" alt="rect">
                <div (click)="expand(3)" class="text_multiple">
                  <img [ngClass]="hasExpand[3] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
                  <p class="dt_texts">17 февраля -&nbsp;</p>
                  <p class="te_gen"><span> ДИКША-ИНИЦИАЦИЯ</span></p>
                </div>
                <div [ngClass]="hasExpand[3] ? 'expanded' : ''" class="more_info">
                  <div class="text_wrapper">
                    <ul>
                      <li class="te_gen">утренние практики с монахами, ИНИЦИАЦИИ (ДИКШИ), вечером бандара.
                      </li>
                      <li class="te_gen"> В этот день на берегу моря изменится духовная жизнь у тех, кто созрел для
                        принятия дикши. Важность этого события невозможно описать словами. «Дикша — это событие,
                        благодаря которому душа обретает божественную мудрость и освобождается от грехов и кармы»
                        («Вишну-ямала»). Дикша — это посвящение, благодаря которому от Гуру к ученику, как от одного
                        сосуда в другой, течет божественное знание об Абсолюте.</li>
                      <li class="te_gen">Традиционно в этот день состоятся передачи в практики от Гуру, махантов и
                        монахов.</li>
                      <li class="te_gen">

                        Завершится день сакральных посвящений бандарой для Гуру и монахов. По наставлениям священных
                        текстов, уважение, подношение пищи святым, садху и монахам удлиняет жизнь и очищает карму
                        подносящего, считается мощным процессом накопления семян белой кармы.
                        Прасад - это Брахман, он не отличен от Брахмана, Шивы и Ишта-дэваты. Мы оказываем почитание Им в
                        форме прасада, раздавая его и вкушая.
                      </li>
                    </ul>
                    <!-- <p class="te_gen wrap">САРАСВАТИ – Богиня Мудрости и речи, Вместилище духовных знаний, а так же
                      искусств, наук, ремесел и мастерства, олицетворение эстетического разума. Это творческая энергия
                      Бога-Творца и представляет могущество и интеллект, без которых невозможно упорядоченное творение.
                      Призываем энергии Сарасвати для раскрытия мудрости, Истинного знания, ясности ума, творчества в
                      нашем духовном Пути и материальной жизни!</p>
                    <p class="te_gen wrap">Передачи в практики от Гуру, махантов, монахов.</p> -->
                  </div>
                  <div class="img_event_wrap">
                    <p class="gan_wrap">
                      <video autoplay loop muted playsinline src="assets/gif/17.mp4"></video>
                      <!-- <img src="assets/Images/gan.png" alt="gan"> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="plate_item">
              <div class="pl_out-wrap">
                <img class="rect" src="assets/Images/rect.png" alt="rect">
                <div (click)="expand(4)" class="text_multiple">
                  <img [ngClass]="hasExpand[4] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
                  <p class="dt_texts">18-19 февраля -&nbsp;</p>
                  <p class="te_gen"><span> празднование МАХАШИВАРАТРИ</span></p>
                </div>
                <div [ngClass]="hasExpand[4] ? 'expanded' : ''" class="more_info">
                  <div class="text_wrapper">
                    <!-- <ul>
                      <li class="te_gen">СВАМИ БРАХМАНАНДА ШРИ ШИВА ПРАБХАКАРА СИДДХА ЙОГИ ПАРАМАХАМСА – парамгуру нашей
                        школы, т.е. гуру нашего Гуру, наш “духовный дедушка”.</li>
                    </ul> -->
                    <p class="te_gen wrap">
                      Махашиваратри – мистическая Ночь, открывающая дверь Неизведанного...
 
                      «Великая ночь Шивы» – по одной из версий это долгожданный всей вселенной день свадьбы Шивы и Парвати. А в Линга Пуране говорится, что именно в такую ночь Шива возник перед Брахмой и Вишну в форме безначального и бесконечного лингама.
                      Праздник начинается с восходом солнца в день Шиваратри и продолжается всю ночь напролет. Считается благоприятным непрерывно, всю ночь, совершать поклонение Господу Шиве, медитировать на Его образ. Это очень благоприятное время, чтобы освободить свой ум от мирских мыслей.
                      Считается, что всенощное бдение, искреннее соблюдение ритуалов и исполнение Шиваратри-пуджи всю ночь освобождает ото всех грехов и дает милость Шивы в виде освобождения от цикла перерождений. 
                      Любая медитация в эту ночь во много раз сильнее обычной, таков завет Шивы:
                      «Это пора, когда добродетель поклонения Мне возрастает подобно океанскому прибою на рассвете».
                      (МахаШива Пурана)
                      </p>
                  </div>
                  <div class="img_event_wrap">
                    <p class="gan_wrap">
                      <video autoplay loop muted playsinline src="assets/gif/1819.mp4"></video>
                      <!-- <img src="assets/Images/gan.png" alt="gan"> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="plate_item">
              <div class="pl_out-wrap">
                <img class="rect" src="assets/Images/rect.png" alt="rect">
                <div (click)="expand(5)" class="text_multiple double">
                  <img [ngClass]="hasExpand[5] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
                  <p class="dt_texts">20 февраля -&nbsp;</p>
                  <p class="te_gen"><span> день отъезда</span>
                  </p>
                </div>
                <div [ngClass]="hasExpand[5] ? 'expanded' : ''" class="more_info">
                  <div class="text_wrapper">
                    <!-- <ul>
                      <li class="te_gen">Уникальная возможность получить прямые передачи в глубокие практики и бесценные
                        наставления Мастера в традиции Ануттара-тантры сиддхов, усердно практикуя которые в дальнейшем,
                        каждый сможет открыть блаженство энергии и Ясный Свет.</li>
                    </ul> -->
                  </div>
                  <div class="img_event_wrap">
                    <p class="gan_wrap">
                      <video autoplay loop muted playsinline src="assets/gif/3-6sep.mp4"></video>
                      <!-- <img src="assets/Images/gan.png" alt="gan"> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="plate_item">
              <div class="pl_out-wrap">
                <img class="rect" src="assets/Images/rect.png" alt="rect">
                <div (click)="expand(6)" class="text_multiple double">
                  <img [ngClass]="hasExpand[6] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
                  <p class="dt_texts">3 сентября -&nbsp;</p>
                  <p class="te_gen"><span>встреча с преданными свами Брахмананды: Вену Гопалом,<br> Карпура Сундара
                      Пандианом.</span>
                  </p>
                </div>
                <div [ngClass]="hasExpand[6] ? 'expanded' : ''" class="more_info">
                  <div class="text_wrapper">
                    <ul>
                      <li class="te_gen">Свами Брахмананда Шри Шива Прабхакара Сиддха Йоги Парамахамса – это
                        величайший авадхута, ученик мастера традиции сиддхов – Шри Памбатти.</li>
                    </ul>
                    <p class="te_gen wrap">Свамиджи очень хорошо известен в индийском штате Керала, где имеет множество
                      почитателей и свидетелей его чудес. Он жил под разными именами, не старея, много эпох во многих
                      местах Индии: как на севере, так и на юге. Являясь мастером тайной техники паракайя-правешана,
                      он неоднократно вселялся в тела различных людей.</p>
                    <p class="te_gen wrap">Нам выпадет прекрасная возможность встретиться с его преданными, которые были
                      свидетелями некоторых эпизодов жизни великого святого.</p>
                  </div>
                  <div class="img_event_wrap">
                    <p class="gan_wrap">
                      <video autoplay loop muted playsinline src="assets/gif/3sep.mp4"></video>
                       <img src="assets/Images/gan.png" alt="gan"> 
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="plate_item">
              <div class="pl_out-wrap">
                <img class="rect" src="assets/Images/rect.png" alt="rect">
                <div (click)="expand(7)" class="text_multiple double">
                  <img [ngClass]="hasExpand[7] ? 'expand' : ''" class="arr_m" src="assets/Images/arr.png">
                  <p class="dt_texts">6 сентября 12-00 -&nbsp;</p>
                  <p class="te_gen"><span>окончание семинара, экскурсии по местным храмам<br>
                      и переезд на океан в Варкалу.</span></p>
                </div>
                <div [ngClass]="hasExpand[7] ? 'expanded' : ''" class="more_info">
                  <div class="text_wrapper">
                    <p class="te_gen wrap">Экскурсии по местным храмам: Аранмула темпл и Ченганнур Махадева темпл:</p>
                    <p class="te_gen wrap"><span>Аранмула темпл</span> - один из самых важных храмов Кришны в Керале и
                      одна из пяти
                      древних святынь в районе Ченганнур в Керале, связанная с легендой Махабхараты, где, как полагают,
                      пять Пандавов построили по одному храму каждый; Аранмула построена принцем Пандавов Арджуной.
                      Здесь хранится тханка анки, золотое одеяние Айяппана, подаренное королем Траванкора.
                      Аранмула также известна гонками на змеиных лодках, которые проводятся каждый год во время Онама и
                      связаны с легендами Махабхараты.</p>
                    <p class="te_gen wrap"><span>Храм Ченганнур Махадевар</span> — один из старейших и известных храмов,
                      расположенный
                      в районе Алаппужа. Это обширный храмовый комплекс с круглым святилищем. Господь Шива и Парвати
                      Деви
                      являются главными украшениями этого храма. В отличие от других храмов, в этом храме есть две
                      главные
                      святыни. Главная святыня коническая, покрытая медью. Главный идол Деви сделан из сплава пяти
                      металлов (ПАНЧАЛОГАМ). Шивалингам покрыт золотой пластиной с изображением Ардханаришвары — или
                      Шива-Шакти, проявление Шивы.</p>
                  </div>
                  <div class="img_event_wrap">
                    <p class="gan_wrap">
                      <video autoplay loop muted playsinline src="assets/gif/6sep.mp4"></video>
                       <img src="assets/Images/gan.png" alt="gan"> 
                    </p>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
          <div class="g_wrap">
            <button (click)="scrollTo('apply')" class="btn_gen s tr">Оставить заявку</button>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="bl_second">
    <div class="wrapper">
      <div class="carousel_wrap">
        <p class="m_top"><span></span>Фотогалерея<span class="fd"></span></p>
        <div class="tour_slide-wrap">
          <p (click)="previous()" class="arrow_w l">
            <img src="assets/Images/left.png" alt="arrow">
          </p>
          <div class="slider_wrap">
            <div class="sl_main-wrap">
              <div class="n_sl first_sl">
                <img [src]=slides[first].path alt="pic">
              </div>
              <div class="n_sl middle_sl">
                <img [src]=slides[middle].path alt="pic">
              </div>
              <div class="n_sl last_sl">
                <img [src]=slides[last].path alt="pic">
              </div>
            </div>
          </div>
          <p (click)="next()" class="arrow_w r">
            <img src="assets/Images/right.png" alt="arrow">
          </p>
        </div>
        <p class="gallery_t">Присоединиться можно на любом из этапов!</p>
      </div>
    </div>
  </div>
  <div class="program-forum">
    <div id="apply" class="wrapper">
      <div class="registration-form flex flex-col">
        <div class="top_wrap">
          <p class="form_t">Отправить заявку</p>
          <p class="divider_form">
            <img src="assets/Images/dividerfrm.png" alt="divider">
          </p>
        </div>
        <div class="bottom_social loi">
          <div class="soc_w">
            <p (click)="goToURl('mailto:kuchernv@mail.ru')" class="more"><img class="soc_l"
                src="assets/Images/gmail.png" alt="instagram">kuchernv@mail.ru</p>
            <div (click)="goToURl('mailto:Shrinandini108@gmail.com')" class="more das">
              <p class="rty"></p>Shrinandini108@gmail.com
            </div>
            <p (click)="goToURl('https://t.me/Nadya_M')" class="more"><img class="soc_l" src="assets/Images/telega.png"
                alt="telegram">@Nadya_M
            </p>
            <div (click)="goToURl('https://t.me/Shrinandini108')" class="more">
              <p class="rty"></p>t.me/Shrinandini108
            </div>
          </div>
        </div>
        <!-- <p class="gallery_"></p> -->
        <!-- <div class="form-registration-form flex justify-between" [formGroup]="form" id="registration-form">
          <input type="text" class="input-form-gold" placeholder="имя" formControlName="name" />
          <input type="email" class="input-form-gold" placeholder="email" formControlName="email" />
          <ngx-intl-tel-input [cssClass]="'custom'" [preferredCountries]="preferredCountries"
            [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true" [searchCountryField]="[
            SearchCountryField.Iso2,
            SearchCountryField.Name
          ]" [selectFirstCountry]="false" [selectedCountryISO]="selectedCountry" [maxLength]="15"
            [phoneValidation]="true" [separateDialCode]="true" [numberFormat]="PhoneNumberFormat.National" name="phone"
            formControlName="phone">
          </ngx-intl-tel-input>
        </div> -->
        <div class="registration-form-button flex justify-center items-center">
          <!-- <button class="btn_gen s reg" (click)="sendRegistrationData()" [disabled]="!form.valid"
            [ngClass]="!form.valid ? 'disabled' : 'enabled'">Оставить заявку</button> -->
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper no-pad">
    <div class="support">
      <div class="head-section_wrap">
        <div class="sup_line-wrap">
          <div class="ln_wr">
            <p class="sup_text">ПОДДЕРЖАТЬ ФОНД ПАЛОМНИЧЕСТВА для Гуру и монахов</p>
          </div>
        </div>
      </div>
      <div class="req_wrap">
        <div class="tw_wrap fst">
          <div class="bk_wrap fw">
            <p class="b-im_wrap">
              <img src="assets/Images/csob.png" alt="csob">
            </p>
            <p class="b-txt_wrap">
              ČSOB банк Чехии<br>
              5168 3421 1130 2082 VLADYSLAV MORHUNENKO<br>
              Счёт: 305066270/0300<br>
              IBAN: CZ9603000000000305066270<br>
              BIC (SWIFT) CEKOCZPP
            </p>
            <img class="divider_sc" src="assets/Images/divider.png" alt="line">
          </div>
          <div class="bk_wrap s">
            <p class="b-im_wrap">
              <img src="assets/Images/reifeisen.png" alt="raiffeisen">
            </p>
            <p class="b-txt_wrap">
              Raiffeisen Bank<br>
              5168 7207 9303 0214<br>
              VALERII M.<br>
              Счет - 7114761002/5500
            </p>
            <img class="divider_sc sc" src="assets/Images/divider.png" alt="line">
          </div>
        </div>
        <div class="tw_wrap scd">
          <div class="bk_wrap">
            <p class="b-im_wrap">
              <img src="assets/Images/tinkoff.png" alt="tinkoff">
            </p>
            <p class="b-txt_wrap">
              Тинькофф<br>
              рубли, доллары, евро<br>
              4377 7237 7959 1126<br>
              SVETLANA RAMAEVA
            </p>
            <img class="divider_sc" src="assets/Images/divider.png" alt="line">
          </div>
          <div class="bk_wrap">
            <p class="b-im_wrap">
              <img src="assets/Images/privat.png" alt="privat">
            </p>
            <p class="b-txt_wrap">
              ПриватБанк (Visa)<br>
              4149 6090 1133 2550<br>
              MOLOFIEIEVA ALONA
            </p>
            <img class="divider_sc sc" src="assets/Images/divider.png" alt="line">
          </div>
        </div>
        <div class="tw_wrap last">
          <div class="bk_wrap">
            <p class="b-im_wrap">
              <img src="assets/Images/paypal.png" alt="paypal">
            </p>
            <p class="b-txt_wrap">
              guru.swamivishnudevanandagiri@gmail.com
            </p>
            <img class="divider_sc" src="assets/Images/divider.png" alt="line">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>