/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap");
@font-face {
  font-family: Archaic;
  src: url("assets/Fonts/Archaic1897.otf") format("otf");
  src: url("assets/Fonts/Archaic1897.ttf") format("ttf");
}
@font-face {
  font-family: Friz;
  src: url("assets/Fonts/FrizQuadrataC.otf") format("otf");
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Arimo", sans-serif;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  min-width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 20px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arimo", sans-serif;
  font-size: inherit;
  font-weight: 400;
  text-align: center;
}
video {
  border-radius: 300px;
}
ul {
  margin-top: 10px;
}
ul li {
  list-style-type: circle;
  list-style: inside;
  margin-bottom: 5px;
}
.back_arr {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  margin: 0 50px 20px auto !important;
  width: fit-content;
  cursor: pointer;
  img {
    width: 22px;
    margin-right: 22px;
  }
  span {
    font-size: 28px;
    font-weight: bold;
  }
}
.arr_m {
  position: absolute;
  left: 65px;
  cursor: pointer;
  &.expand {
    transform: rotate(90deg);
  }
}
.iti {
  display: block !important;
  margin-bottom: 20px;
}

.iti .dropdown-menu.country-dropdown {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-color: #c7cace;
  margin-top: -1px;
  width: 440px !important;
  border: 2px solid #ddad40;
  margin-top: -3px;
}

.iti .iti__country-list {
  box-shadow: none;
  font-size: 24px;
  margin-left: 0;
  width: auto;
  max-height: 170px;
  // overflow-x: hidden !important;
}

.iti__flag-container.open + input {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.iti .search-container input {
  font-size: 14px;
  border-color: #c7cace;
  border-radius: 0;
  padding: 5px 10px;
}

.iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
  background-color: rgba(0, 0, 0, 0);
}

.iti .search-container input:focus {
  outline: none;
}

ngx-intl-tel-input {
  margin: 0 25px !important;
  width: 100%;
  max-width: 440px;
}

ngx-intl-tel-input input {
  height: 92px;
  margin-bottom: 0;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #ddad40;
  width: 100%;
  // max-width: 440px;
  border-radius: 46px;
  font-size: 32px !important;
}

.iti--allow-dropdown input[type="tel"] {
  padding-left: 120px !important;
}

ngx-intl-tel-input.ng-invalid.ng-touched input {
  border: 1px solid #c0392b;
}

ngx-intl-tel-input input:hover {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.24);
}
.iti__selected-flag {
  transform: scale(1.5);
  padding: 0 6px 0 20px;
}

ngx-intl-tel-input input:focus {
  outline: none !important;
  border-color: #3498db;
  box-shadow: 0 0 0 0 #000;
}

ngx-intl-tel-input input::-webkit-input-placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input:-ms-input-placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input::-ms-input-placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input::placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input[disabled] {
  background-color: #e5eaf1;
}
.gan_wrap {
  border-radius: 50%;
  overflow: hidden;
  width: 100%;
  border: 6px solid #e9c66d;
  max-height: 510px;
  max-width: 510px;
}
.more_info {
  display: flex;
  justify-content: space-between;
  background: #fdedb9;
  z-index: 111;
  position: relative;
  width: auto;
  margin: -4px 44px 0px 45px;
  border: 4px solid #e9c66d;
  border-top: 0px;
  padding: 0 40px 35px 84px;
}
.text_wrapper {
  width: 60%;
  margin-right: 25px;
  .te_gen {
    white-space: unset;
  }
  p.te_gen {
    line-height: 1.5;
    margin-top: 40px !important;
    white-space: nowrap;
  }
}
p.te_gen.wrap {
  white-space: unset;
}
p {
  margin: 0 !important;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: #cddaee;
  border: 0 white solid;
  border-radius: 7px;
}
.sup_text {
  font-size: 24px;
  color: #1a171b;
  font-weight: 500;
  font-family: "Georgia", sans-serif !important;
  position: absolute;
  z-index: 1000;
  margin: 10px 0 !important;
  z-index: 100;
  padding: 0 15px;
}
.main-wrapper {
  background-color: #e2eef5;
}
.main_title_text {
  font-family: Friz, sans-serif;
  font-size: 4.1vw;
  color: #c9000b;
  line-height: 1;
  margin-bottom: 22px !important;
}
.text_secondary {
  font-size: 2.5vw;
  color: #1b1919;
  font-weight: bold;
  font-family: "Georgia", sans-serif;
  line-height: 1.2;
  span {
    font-family: "Georgia", sans-serif;
    font-weight: lighter;
  }
}
.head_content {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: calc(100vh - 150px);
}
.list_items {
  margin-top: 15px;
}
.btn_gen.s.tr {
  width: 489px;
}
.plate_item {
  margin: 40px 0;
}
.g_wrap {
  margin: 80px 0 !important;
  display: flex;
  justify-content: center;
}
.list-item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.img-w {
  height: 45px;
  margin-right: 25px !important;
}
.btn_gen {
  width: 383px;
  height: 91px;
  border-radius: 30px;
  background-image: linear-gradient(0deg, #fbd19a 0%, #ffffff 100%);
  border: 4px solid #ffdb69;
  font-size: 40px;
  color: #1a171b;
  font-family: "Georgia";
  &.s {
    background-image: linear-gradient(0deg, #df6b00 0%, #ffd505 100%);
  }
  &.reg {
    font-size: 38px;
    color: #fff;
    font-weight: bold;
    font-family: "Georgia";
    background-image: linear-gradient(0deg, #b70617 0%, #f35909 100%);
  }
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    transition: .5s;
  }
}
.form_t {
  font-size: 80px;
  color: #8c0000;
  font-family: "Georgia";
  text-align: center;
  line-height: 1;
}
.bottom_section {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.list_text {
  font-size: 59px;
  color: #1a171b;
  font-weight: bold;
  font-family: "Georgia";
  .first {
    font-size: 30px;
    color: #1a171b;
    font-weight: bold;
    font-family: "Georgia";
  }
  .second {
    font-size: 30px;
    color: #1a171b;
    font-weight: lighter;
    font-family: "Georgia";
  }
}
.slider_wrap {
  display: flex;
}
.sl_main-wrap {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.g_title {
  font-size: 45px;
  color: #ffffff;
  font-style: italic;
  font-family: "Georgia";
  text-align: right;
  line-height: 1.1;
  margin-right: -25px !important;
  text-shadow: 0px 0px 7px black;
}
.event_dates {
  &.no_mob {
    display: none;
    font-size: 38px;
    margin-top: 0 !important;
    color: #c9000b;
    position: relative;
    text-shadow: 0px 0px 7px black;
    right: unset;
    left: 0px !important;
    transform: translate(0%);
    line-height: 1.1;
    text-align: left;
  }
}
.event_dates {
  font-family: "Archaic";
}
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 100px 20px 100px;
  box-sizing: border-box;
  &.no-pad {
    padding: 0;
  }
  &.main {
    background: url(./assets/Images/main_back.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position-x: right;
    // height: 100vh;
  }
}
.text_gen {
  font-size: 2vw;
  color: #1a171b;
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  cursor: pointer;
  transition: .5s;
  &:hover {
    transform: scale(1.1);
    transition: .5s;
  }
}
.program-forum {
  display: flex;
  align-items: center;
  max-width: 1920px;
  margin: 0 auto;
  height: 1082px;
  background: url(assets/Images/back_form.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.b-txt_wrap {
  font-size: 15px;
  color: #1a171b;
  font-weight: 400;
  font-family: "Roboto", sans-serif !important;
  line-height: 1.2;
  word-break: break-all;
}
.buttons_wrap {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.gallery_t {
  font-size: 50px;
  color: #1a171b;
  font-family: "Georgia";
  text-align: center;
}
.rect {
  width: 100%;
}
.carousel_wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-height: 1080px;
  height: 100%;
  padding: 40px 0 30px 0;
}
.tour_slide-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 65px 0px;
}
.n_sl {
  filter: drop-shadow(7px 0px 21px rgba(41, 43, 45, 0.16));
  overflow: hidden;
  &.first_sl {
    width: 31%;
    height: 450px;
    border-radius: 36px;
    margin-right: -45px;
    img {
      width: auto;
      height: 450px;
      object-fit: cover;
    }
  }
  &.middle_sl {
    width: auto;
    height: 750px;
    border-radius: 54px;
    z-index: 11;
    img {
      width: auto;
      height: 750px;
      object-fit: cover;
    }
  }
  &.last_sl {
    width: 31%;
    height: 450px;
    border-radius: 36px;
    margin-left: -45px;
    img {
      width: auto;
      height: 450px;
      object-fit: cover;
    }
  }
}
.text_multiple.double {
  top: 20px;
  align-items: unset;
}
.support {
  height: auto;
  background-image: linear-gradient(0deg, #fbd19a 0%, #ffffff 100%);
  padding: 14px 25px 12px 25px;
  p {
    margin-bottom: 0 !important;
  }
}
.head-section_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.nmb {
  font-size: 140px;
  color: #fff381;
  font-family: "Georgia";
  line-height: 0.9;
  margin-top: -5px !important;
}
.lv {
  font-size: 50px;
  color: #fff381;
  font-family: "Georgia";
  margin: 25px 0 8px 0 !important;
}
.txt_pl {
  font-size: 45px;
  color: #ffffff;
  font-family: "Georgia";
  line-height: 1;
}
.dt_txt {
  line-height: 1.35;
  border: 5px solid #fff;
  margin-top: 14px !important;
  padding: 0 20px;
}
.text_multiple {
  position: absolute;
  top: 35px;
  display: flex;
  align-items: center;
  padding: 0 40px 0 130px;
  cursor: pointer;
}
.dt_wrap {
  font-size: 50px;
  color: #fff381;
  font-family: "Georgia";
  display: flex;
  align-items: center;
  margin-top: 25px;
  img {
    height: 88px;
    margin-top: 4px;
  }
}
.dt_texts {
  font-size: 30px;
  line-height: 1;
  color: #8c0000;
  font-weight: bold;
  font-family: "Georgia";
  white-space: nowrap;
}
.pl_out-wrap {
  position: relative;
}
.te_gen {
  font-size: 30px;
  line-height: 1.1;
  color: #1a171b;
  font-family: "Georgia";
  white-space: nowrap;
  span {
    font-weight: bold;
    line-height: 1.1;
    color: #1a171b;
    font-family: "Georgia";
  }
}
.lamp {
  img {
    width: 162px;
    height: 138px;
    margin-top: -34px;
    margin-left: 115px;
  }
}
.level_wrap {
  margin-top: 35px;
}
.h_cont {
  margin-left: 40px;
}
.ln_wr {
  display: flex;
  justify-content: center;
}
.bl_second {
  max-width: 1920px;
  min-height: auto;
  margin: 0 auto;
  background: url(assets/Images/back2.png);
  background-size: cover;
}
.block_master {
  &.right {
    padding: 0 0 0 100px;
    width: 57%;
  }
  &.left {
    width: 43%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
  }
}
.m_wrapper {
  display: flex;
  flex-direction: column;
  padding: 44px 0 30px 0;
}
.m_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}
.video_master {
  width: 730px;
  height: 420px;
  box-shadow: 0px 0px 15px #000;
  border-radius: 20px;
  margin: 50px 0px 10px 0px;
  overflow: hidden;
}
.bottom_social {
  display: flex;
  margin-top: 30px;
}
.m_name {
  font-size: 31px;
  color: #8c0000;
  font-weight: bold;
  font-family: "Georgia";
  line-height: 1.2;
  white-space: nowrap;
}
.arrow_w {
  cursor: pointer;
  transition: 0.5s;
}
.arrow_w:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
.bl_height {
  max-width: 1920px;
  height: auto;
  margin: 0 auto;
  background: url(assets/Images/wideback.png);
  background-size: cover;
  .m_top {
    color: #fff;
    span {
      background-color: #fff;
    }
  }
}
.bh_wrapper {
  display: flex;
  padding: 44px 0 30px 0;
  justify-content: center;
  flex-direction: column;
}
.num {
  display: flex;
  flex-direction: column;
  line-height: 1;
  text-align: center;
  padding-right: 30px;
  border-right: 4px solid #c28b0c;
}
.header_cont {
  display: flex;
}
.arrow_w.l {
  margin-right: 20px !important;
}
.arrow_w.r {
  margin-left: 20px !important;
}
.m_top {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 55px;
  font-weight: 500;
  line-height: 1;
  color: #8c0000;
  font-family: "Georgia";
  text-align: center;
  span {
    display: block;
    width: 22px;
    background: #8c0000;
    height: 22px;
    border-radius: 50%;
    margin: 0 30px 0 0;
    &.f {
      margin: 0 0 0 30px;
    }
  }
}
.req_wrap {
  display: flex;
}
.tw_wrap {
  display: flex;
  &.fst {
    width: 48%;
    .bk_wrap.f {
      width: 54%;
    }
  }
  &.scd {
    width: 33%;
  }
  &.last {
    width: 19%;
    .bk_wrap {
      justify-content: center;
      flex-direction: column;
      width: 100%;
      img {
        margin-bottom: 12px;
      }
      .divider_sc {
        display: none;
      }
    }
  }
}
.divider_form {
  margin: 40px 0 !important;
}
.about_master.sc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 113%;
  margin: 20px 0 30px -60px;
  .about_m {
    font-size: 31px;
    color: #8c0000;
    font-weight: bold;
    font-style: italic;
    font-family: "Georgia";
    line-height: 1.2;
  }
}
.m_d {
  font-size: 30px;
  line-height: 1.1;
  color: #1a171b;
  font-family: "Georgia";
}
.divider_sc {
  position: absolute;
  right: 0;
  height: 80%;
}
.ab_pilgrim {
  font-size: 25px;
  line-height: 1.4;
  color: #1a171b;
  font-style: italic;
  font-family: "Georgia";
  font-weight: bold;
}
.m_nama {
  font-size: 30px;
  color: #1a171b;
  font-weight: bold;
  font-style: italic;
  font-family: "Georgia";
  text-align: right;
}
.more {
  display: flex;
  align-items: flex-start;
  font-size: 25px;
  color: #1a171b;
  font-family: "Georgia";
  line-height: 1;
  margin-right: 30px !important;
  margin-bottom: 6px !important;
  cursor: pointer;
  img {
    height: 35px;
    margin-right: 15px;
  }
}
.divider {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 30px 0 !important;
}
.bk_wrap {
  display: flex;
  position: relative;
  padding: 20px 22px;
  align-items: center;
  margin-top: 48px;
}
// .bottom_social {
//   display: flex;
//   flex-direction: column;
//   margin-top: -65px;
//   width: 480px;
//   margin-left: auto;
// }
.b-im_wrap {
  margin-right: 21px !important;
}
.head_wrap {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: transparent;
  margin: 0 auto;
  &.bg_for_header {
    background-color: #fff;
    box-shadow: 0px 1px 7px black;
  }
}
.soc_w {
  display: flex;
}
.disabled {
  opacity: 0.4;
}
.header {
  padding-top: 0;
  font-size: 22px;
  color: rgb(186, 125, 24);
  height: 110px;
  justify-content: center;
  display: flex;
}

.registration-form-button {
  justify-content: center;
}
.registration-form {
  border-radius: 37px;
  background-color: #fef6dc;
  border: 4px solid #ddad40;
  // box-shadow: 0px 4px 27px 2px rgba(0, 0, 0, 0.53);
  padding: 30px 55px 10px 55px;
}
.input-form-gold {
  height: 92px;
  border-radius: 46px;
  background-color: #ffffff;
  border: 2px solid #ddad40;
  width: 100%;
  max-width: 440px;
  margin: 0 25px;
  padding-left: 20px;
  font-size: 32px;
}
.s_wrap {
  display: flex;
  justify-content: space-between;
}
.form-registration-form {
  margin: 60px -25px 100px -25px;
  width: auto;
}
.registration-form-button {
  margin-bottom: 90px;
  font-size: 22px;
}
.head_in {
  display: flex;
  align-items: center;
  max-width: 1920px;
  padding: 0 100px 0 0;
  margin: 0 auto;
  height: 90px;
}
.header_wrapper {
  width: 55%;
  margin-left: auto;
}
.w_wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.menu_wrap {
  display: flex;
  align-items: center;
  width: 100%;
  div:not(.w_wrap) {
    padding: 0 15px;
    cursor: pointer;
    box-sizing: border-box;
    &:hover {
      text-shadow: 2px 1px 2px rgb(196, 203, 132);
    }
  }
}
@media (max-width: 1910px) {
  .soc_w {
    flex-direction: column;
  }
  .bottom_social {
    flex-direction: column;
    margin-top: -30px;
    margin-left: auto;
  }
}
@media (max-width: 1880px) {
  .event_dates {
    left: 40%;
  }
  .m_name {
    font-size: 30px;
  }
  .about_master.sc .about_m {
    font-size: 26px;
  }
}
@media (max-width: 1825px) {
  .event_dates {
    left: 38%;
  }
  .block_master.left {
    width: 47%;
  }
}
@media (max-width: 1765px) {
  .event_dates {
    left: 36%;
    margin-top: 60px !important;
  }
  .main_title_text {
    margin-bottom: 5px !important;
  }
  .btn_gen.s {
    margin-right: 45px;
  }
}
@media (max-width: 1685px) {
  .more_info {
    margin: -4px 39px 0px 39px;
  }
  .wrapper {
    padding: 0px 40px 15px 40px;
  }
  .event_dates {
    margin-top: 45px !important;
  }
  .m_name {
    white-space: unset;
  }
}
@media (max-width: 1650px) {
  .bottom_social {
    margin-top: 0px;
  }
  .event_dates {
    left: 34%;
  }
}
@media (max-width: 1605px) {
  .bottom_social {
    margin-top: 30px;
  }
  .about_master.sc .about_m {
    font-size: 24px;
  }
  .about_master.sc .about_m {
    padding: 0 10px;
  }
  .n_sl.middle_sl {
    height: 650px;
    img {
      height: 650px;
    }
  }
  .n_sl.first_sl {
    width: 35%;
    height: 400px;
    img {
      height: 400px;
    }
  }
  .n_sl.last_sl {
    width: 35%;
    height: 400px;
    img {
      height: 400px;
    }
  }
}
@media (max-width: 1555px) {
  .iti .dropdown-menu.country-dropdown {
    width: 390px !important;
  }
  .bottom_social {
    margin-top: 0px;
  }
  .m_name {
    font-size: 25px;
  }
  .about_master.sc .about_m {
    font-size: 22px;
  }
  .r_dl {
    height: 150px;
    img {
      height: 100%;
    }
  }
  .about_master.sc {
    width: 105%;
    margin: 10px 0 30px -30px;
  }
}
@media (max-width: 1590px) {
  .m_top.f {
    font-size: 45px;
  }
  .event_dates {
    left: 31%;
  }
  .g_title {
    font-size: 35px;
  }
  .list_text {
    background: rgba(233, 243, 247, 0.5);
    border-radius: 20px;
  }
  .list_text .first {
    font-size: 25px;
    line-height: 1.3;
  }
}
@media (max-width: 1510px) {
  ngx-intl-tel-input input {
    font-size: 25px !important;
  }
  .txt_pl {
    font-size: 40px;
  }
  .event_dates {
    left: 27%;
  }
  .block_master.left {
    width: 38%;
  }
  .dt_wrap {
    font-size: 40px;
    img {
      height: 72px;
      margin-top: 2px;
    }
  }
  .g_wrap {
    margin: 45px 0 !important;
  }
  .dt_texts {
    font-size: 25px;
  }
  .te_gen {
    font-size: 26px;
  }
  .lv {
    font-size: 35px;
    margin: 15px 0 8px 0 !important;
  }
  .dt_txt {
    margin-top: 10px !important;
  }
  .m_wrapper {
    justify-content: space-between;
  }
  .m_top {
    font-size: 55px;
  }
  .video_master {
    width: auto;
    height: 300px;
  }
  .btn_gen {
    width: 300px;
    height: 75px;
    border-radius: 20px;
    font-size: 32px;
    transition: .5s;
  }
  .block_master.right {
    padding: 0 0 0 20px;
  }
}
@media (max-width: 1430px) {
  .iti .dropdown-menu.country-dropdown {
    width: 345px !important;
  }
  .more_info {
    margin: -4px 32px 0px 32px;
  }
  .text_wrapper {
    width: 75%;
  }
  .g_wrap {
    margin: 45px 0 !important;
  }
  .event_dates {
    left: 23%;
  }
  .more {
    font-size: 21px;
  }
  .more img {
    margin-right: 20px;
    height: 34px;
  }
}
@media (max-width: 1360px) {
  .te_gen {
    font-size: 24px;
  }
  .bottom_social {
    margin-top: 10px;
  }
  .video_master {
    margin: 10px 0px 10px 0px;
    height: 260px;
  }
  .text_multiple.double {
    top: 12px;
  }
  .text_multiple {
    padding: 0 40px 0 95px;
  }
  .more_info {
    padding: 0 40px 35px 60px;
  }
  .arr_m {
    left: 42px;
  }
  .gallery_t {
    font-size: 37px;
    color: #1a171b;
    line-height: 1;
  }
  .event_dates {
    left: 19%;
    margin-top: 58px !important;
  }
  .g_title {
    text-shadow: 0px 0px 7px black;
  }
  .list_text {
    color: #fff;
    text-shadow: 0px 0px 7px black;
    background: unset;
    span.first,
    span.second {
      color: #fff;
      text-shadow: 0px 0px 7px black;
    }
  }
  .lamp img {
    width: 100px;
    height: 91px;
    margin-top: 0px;
    margin-left: 30px;
  }
}
@media (max-width: 1260px) {
  ngx-intl-tel-input input {
    font-size: 21px !important;
  }
}
@media (max-width: 1200px) {
  .iti--allow-dropdown input[type="tel"] {
    padding-left: 110px !important;
  }
  .iti .dropdown-menu.country-dropdown {
    width: 275px !important;
  }
  .event_dates {
    &.no_mob {
      display: block;
      text-shadow: 0px 0px 7px #c65353;
    }
  }
  .main_title_text {
    font-size: 65px;
  }
  .head_content {
    display: block;
    height: auto;
  }
  .list_items {
    margin-top: 20px;
  }
  .wrapper.main {
    background-size: unset;
    height: 880px;
  }
  .img-w {
    display: none;
  }
  .video_master {
    height: 480px;
  }
  .more_info {
    padding: 30px 0px 0px 0px !important;
    margin: 0;
    border: none;
  }
  .text_multiple {
    align-items: flex-start;
  }
  .te_gen {
    white-space: unset;
    line-height: 1.2;
  }
  .btn_gen.reg {
    font-size: 35px;
    width: 350px;
  }
  .form_t {
    font-size: 48px;
  }
  .form-registration-form {
    margin: 20px -25px 60px -25px;
  }
  .registration-form-button {
    margin-bottom: 40px;
  }
  .program-forum {
    padding: 40px 0;
    height: auto;
  }
  .text_multiple {
    // flex-direction: column;
    position: unset;
    top: 0;
    padding: 0 0px 0 40px;
  }
  .pl_out-wrap {
    background: #fdedb9;
    border: 4px solid #ffdb69;
    border-radius: 15px;
    min-height: 55px;
    padding: 15px;
    img.rect {
      display: none;
    }
  }
  .arr_m {
    top: 8px;
    left: 6px;
  }
  .arr_m.expand {
    transform: rotate(90deg);
    height: 38px;
    left: 10px;
  }
  .wrapper.main {
    height: 730px;
  }
  .g_title {
    font-size: 26px;
    margin-right: 10px !important;
  }
  .bottom_section {
    margin-top: 20px;
  }
  .header {
    height: 80px;
  }
  .s_wrap {
    flex-direction: column;
  }
  .block_master.left {
    width: 100%;
    margin-top: 0;
  }
  .block_master.right {
    margin-top: 20px;
    width: 100%;
  }
  .about_master.sc {
    width: auto;
    margin: 10px 0 30px 0px;
    justify-content: unset;
  }
  .btn_gen {
    width: 220px;
    height: 55px;
    border-radius: 15px;
    font-size: 22px;
  }
  .m_d {
    font-size: 25px;
  }
  .ab_pilgrim {
    font-size: 22px;
  }
  .bottom_social {
    margin-top: 30px;
    // flex-direction: column;
    p {
      margin-bottom: 15px !important;
    }
  }
}
@media (max-width: 1100px) {
  .iti__selected-flag {
    transform: scale(1.2);
  }
  .iti--allow-dropdown input[type="tel"] {
    padding-left: 95px !important;
  }
  .iti .dropdown-menu.country-dropdown {
    width: 240px !important;
  }
  .n_sl.middle_sl {
    height: 500px;
    img {
      height: 500px;
    }
  }
  .n_sl.first_sl {
    width: 35%;
    height: 300px;
    img {
      height: 300px;
    }
  }
  .n_sl.last_sl {
    width: 35%;
    height: 300px;
    img {
      height: 300px;
    }
  }
  .header_wrapper {
    width: 100%;
    margin-left: 50px;
  }
  .head_in {
    padding: 0 50px 0 0;
  }
}
@media (max-width: 1620px) {
  .text_multiple {
    top: 25px;
  }
  .bk_wrap {
    flex-direction: column;
    align-items: flex-start;
  }
  .tw_wrap.fst .bk_wrap.f {
    width: auto;
  }
  .tw_wrap.scd {
    width: auto;
  }
  .tw_wrap.last {
    width: auto;
  }
  .req_wrap {
    justify-content: center;
  }
  .tw_wrap.fst {
    width: auto;
  }
  p.b-im_wrap {
    margin-bottom: 20px !important;
    display: flex;
    align-items: center;
    img {
      object-fit: scale-down;
      height: 55px;
      width: 100px;
    }
  }
  .tw_wrap.last .bk_wrap {
    justify-content: unset;
    img {
      margin-bottom: 0;
    }
  }
}
@media (max-width: 1295px) {
  .program-forum {
    margin: 0;
  }
  .container {
    margin: 0;
    padding: 0 20px;
  }
  .event_dates {
    left: 14%;
  }
}
@media (max-width: 1000px) {
  .dt_wrap {
    align-items: flex-start;
  }
  .menu_wrap {
    flex-direction: column;
    align-items: end;
  }
  .w_wrap {
    margin-bottom: 6px;
  }
}
@media (max-width: 950px) {
  .iti__selected-flag {
    transform: scale(1.5);
  }
  //   .iti--allow-dropdown input[type=tel] {
  //     padding-left: 95px !important;
  // }
  .iti--allow-dropdown input[type="tel"] {
    padding-left: 110px !important;
  }
  .iti .dropdown-menu.country-dropdown {
    width: auto !important;
    max-width: 440px;
  }
  ngx-intl-tel-input {
    margin: 5px auto !important;
  }
  ngx-intl-tel-input input {
    font-size: 25px !important;
  }
  .form-registration-form {
    flex-direction: column;
    .input-form-gold {
      margin: 5px auto;
    }
  }
  .text_multiple {
    flex-direction: column;
  }
  .tour_slide-wrap {
    padding: 35px 0px;
  }
  .n_sl.middle_sl {
    height: 300px;
    img {
      height: 300px;
    }
  }
  .n_sl.first_sl {
    width: 35%;
    height: 150px;
    img {
      height: 150px;
    }
  }
  .n_sl.last_sl {
    width: 35%;
    height: 150px;
    img {
      height: 150px;
    }
  }
  .dt_wrap {
    font-size: 35px;
  }
  .dt_wrap img {
    margin-top: 2px;
    height: 66px;
  }
  .main_title_text {
    font-size: 42px;
  }
  .buttons_wrap {
    .btn_gen.s {
      margin-bottom: 15px;
    }
    flex-direction: column;
    width: 35%;
  }
  .g_title {
    display: flex;
    align-items: flex-end;
  }
  .lamp img {
    margin-top: 33px;
  }
  .text_secondary {
    font-size: 30px;
  }
  .req_wrap {
    flex-direction: column;
  }
  .tw_wrap {
    width: 100%;
  }
  .bk_wrap {
    flex-direction: row;
    width: 50%;
    margin-top: 0;
  }
  .tw_wrap.fst .bk_wrap.f {
    width: 50%;
  }
  .divider_sc.sc {
    display: none;
  }
  .tw_wrap.last {
    width: 50%;
  }
  .tw_wrap.last .bk_wrap .divider_sc {
    display: block;
  }
  .bk_wrap.f {
    margin-top: 48px;
  }
  .bk_wrap.s {
    margin-top: 48px;
  }
  .r_dl {
    height: auto;
  }
  .more_info {
    flex-direction: column-reverse;
  }
  .text_wrapper {
    width: auto;
  }
  .gan_wrap {
    width: 50%;
    border: 4px solid #e9c66d;
    margin: 0 auto 25px auto !important;
  }
}
@media (max-width: 786px) {
  .bottom_social {
    flex-direction: column;
  }
  .video_master {
    height: 310px;
  }
  .m_top {
    font-size: 42px;
  }
  .n_sl.middle_sl {
    height: 200px;
    border-radius: 25px;
    img {
      height: 200px;
    }
  }
  .n_sl.first_sl {
    border-radius: 20px;
  }
  .n_sl.last_sl {
    border-radius: 20px;
  }
  .arrow_w.l {
    margin-right: 12px !important;
    height: 20px;
    width: 40px;
  }
  .arrow_w.r {
    margin-left: 12px !important;
    height: 20px;
    width: 40px;
  }
  .about_master.sc .about_m {
    font-size: 20px;
  }
  .form-registration-form {
    margin: 30px 0;
  }
  .head_in {
    padding: 0 25px 0 0;
    height: 50px;
  }
  .header {
    height: 45px;
  }
  .header_wrapper {
    margin-left: 25px;
  }
  .text_gen {
    font-size: 28px;
    font-weight: bold;
  }
}
@media (max-width: 690px) {
  .block_master {
    .m_top span {
      display: none;
    }
  }
  .dt_wrap img {
    margin-top: 4px;
    height: 47px;
  }
  .dt_txt {
    border: 3px solid #fff;
  }
  .gan_wrap {
    width: 70%;
  }
  .te_gen {
    font-size: 18px;
  }
  .text_wrapper p.te_gen {
    line-height: 1.2;
    margin-top: 22px !important;
  }
  .sup_text {
    font-size: 18px;
    margin: -10px 0 0 0 !important;
    text-align: center;
    line-height: 1.2;
  }
  .h_cont {
    margin-left: 0;
  }
  .dt_wrap {
    font-size: 26px;
    align-items: flex-start;
  }
  .txt_pl {
    font-size: 35px;
  }
  .nmb {
    font-size: 85px;
  }
  .text_gen {
    font-size: 23px;
    font-weight: bold;
  }
  .about_master.sc {
    margin: 10px 0 30px -30px;
  }
  .g_title {
    margin-left: auto !important;
  }
  .text_secondary {
    font-size: 21px;
  }
  .list_text .second {
    font-size: 16px;
  }
  .list_text .first {
    font-size: 18px;
  }
  .level_wrap {
    margin-top: 15px;
  }
  .lv {
    font-size: 30px;
    margin: 15px 0 20px 0 !important;
  }
  .list_text {
    font-size: 24px;
  }
  .list_items {
    margin-top: 10px;
  }
  .header_cont {
    flex-direction: column;
  }
  .lamp {
    img {
      width: 70px;
      height: 70px;
      margin-top: 0px;
      margin-left: auto;
    }
  }
  .bottom_section {
    flex-direction: column;
  }
  .img-w {
    width: 40px;
    height: 34px;
    margin-right: 15px !important;
    img {
      height: 34px;
    }
  }
}
@media (max-width: 620px) {
  .iti--allow-dropdown input[type="tel"] {
    padding-left: 110px !important;
  }
  .gallery_t {
    font-size: 16px;
  }
  .wrapper {
    padding: 0px 10px;
  }
  .wrapper.main {
    background-position-x: 77%;
    background-size: 1313px;
  }
  .event_dates.no_mob {
    font-size: 29px;
  }
  .list_text {
    max-width: 50%;
  }
  .video_master {
    height: 320px;
  }

  .tw_wrap {
    width: 100%;
    flex-direction: column;
  }
  .bk_wrap {
    width: 100%;
  }
  .bk_wrap.s {
    margin-top: 0;
  }
  .tw_wrap.fst .bk_wrap.f {
    width: 100%;
  }
  .divider_sc {
    display: none;
  }
  .list_items p {
    color: transparent !important;
    text-shadow: none !important;
  }
  .list_items span {
    color: transparent !important;
    text-shadow: none !important;
  }
  .tw_wrap.last {
    width: 100%;
    .bk_wrap {
      align-items: center;
    }
  }
  .tw_wrap.last .bk_wrap .divider_sc {
    display: none;
  }
  p.b-im_wrap {
    margin-bottom: 0 !important;
  }
  .m_nama {
    font-size: 20px;
  }
}
@media (max-width: 550px) {
  .list-item {
    margin-bottom: 10px;
  }
  .text_secondary {
    max-width: 80%;
  }
  .head_in {
    padding: 0 20px;
  }
  .bh_wrapper {
    padding: 25px 0;
  }
  .dt_wrap {
    margin-top: 10px;
  }
  .carousel_wrap {
    padding: 15px 0 15px 0;
  }
  .input-form-gold {
    font-size: 20px;
  }
  .txt_pl {
    font-size: 25px;
  }
  .m_top span {
    width: 12px;
    height: 12px;
    margin: 0 10px 0 0;
  }
  .m_top span.f {
    margin: 0 0 0 10px;
  }
  .support {
    padding: 14px 0px 12px 0px;
  }
  .input-form-gold {
    height: 50px;
  }
  ngx-intl-tel-input input {
    height: 50px;
    border-radius: 25px;
  }
  .form-registration-form {
    margin: 15px 0;
  }
  .registration-form-button {
    margin-bottom: 25px;
  }
  .arrow_w.l,
  .arrow_w.l {
    height: auto;
    width: 30px;
  }
  .n_sl.middle_sl {
    width: 90%;
    img {
      height: auto;
    }
  }
  .form_t {
    font-size: 30px;
  }
  .n_sl.first_sl {
    width: 15%;
    height: 100px;
    border-radius: 10px;
    img {
      height: 100px;
    }
  }
  .btn_gen.reg {
    font-size: 25px;
    width: 240px;
    margin: 0;
  }
  .divider_form {
    margin: 15px 0 !important;
  }
  .bottom_section {
    margin-top: 20px;
  }
  .n_sl.last_sl {
    width: 15%;
    height: 100px;
    border-radius: 10px;
    img {
      height: 100px;
    }
  }
  .menu_wrap {
    div:not(.w_wrap) {
      padding: 0;
    }
  }
  .registration-form {
    padding: 30px 5px 10px 5px;
  }
  .m_top {
    font-size: 28px;
  }
  .video_master {
    margin: 21px 10px 10px 10px;
  }
  .m_wrapper {
    padding: 20px 0 20px 0;
  }
  .m_top.f {
    margin-left: 0px !important;
    font-size: 30px;
  }
  .about_master.sc .about_m {
    font-size: 16px;
  }
  .menu_wrap {
    align-items: center;
  }
  .divider {
    margin: 15px 0 !important;
  }
  .header_wrapper {
    margin-left: 0px;
  }
}
@media (max-width: 515px) {
  p.lamp {
    margin-top: -50px !important;
  }
}
@media (max-width: 480px) {
  .bottom_section {
    margin-top: 20px !important;
  }
  .m_top {
    font-size: 24px;
  }
  .slider_wrap {
    width: 90%;
  }
  .n_sl.middle_sl {
    width: 80%;
    height: auto;
  }
  .head_in {
    padding: 10px;
  }
  .about_master.sc .about_m {
    font-size: 12px;
  }
  .head_in {
    height: 40px;
  }
  .block_master.right {
    padding: 0 0 0 15px;
  }
  .video_master {
    height: 210px;
  }
  .w_wrap {
    margin-bottom: 0px;
  }
  .m_d {
    font-size: 16px;
  }
  .ab_pilgrim {
    font-size: 22px;
  }
  .more {
    font-size: 16px;
  }
  .more img {
    margin-right: 10px;
    height: 25px;
  }
  .lamp {
    position: absolute;
    right: 0;
    bottom: 55px;
  }
  .g_title {
    margin-top: 0 !important;
  }
}
@media (max-width: 450px) {
  .g_title {
    margin-top: 5px !important;
  }
  .wrapper.main {
    height: 776px;
    background-size: 1448px;
  }
}
@media (max-width: 380px) {
  .video_master {
    height: 179px;
  }
  .text_gen {
    font-size: 16px;
  }
}

@media screen and (max-width: 479px) {
  .iti .iti__country-list {
    width: 88.3vw;
  }
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";
